      <!-- ===============секція номер 1================= -->
      <section class="box-amenities">
        <div class="info-number container-amenities">
            <ul class="info-list list">
                <li>
                    <h3 class="subject">ЗРУЧНОСТІ У НОМЕРІ</h3>
                    <p class="subject-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                        Velit officia consequat duis
                        enim velitmollit. Exercitation veniam consequat sunt nostrud amet.</p>
                </li>
                <li class="info-item">
                    <h4 class="subtitle">ЗАГАЛЬНІ</h4>
                    <ul class="info-items list">
                        <li>
                            <p class="info-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                                sint. Velit officia
                                consequat duis enim velit
                                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                        </li>
                        <li>
                            <p class="info-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                                sint. Velit officia
                                consequat duis enim velit
                                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                        </li>
                    </ul>
                </li>

                <li class="info-item">
                    <h4 class="subtitle">ВАННА КІМНАТА</h4>
                    <ul class="info-items list">
                        <li>
                            <p class="info-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                                sint. Velit officia
                                consequat duis enim velit
                                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                        </li>
                        <li>
                            <p class="info-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                                sint. Velit officia
                                consequat duis enim velit
                                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                        </li>
                    </ul>
                </li>

                <li class="info-item">
                    <h4 class="subtitle">СПАЛЬНЯ</h4>
                    <p class="subtitle-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    </p>
                </li>

                <li class="info-item">
                    <h4 class="subtitle">КУХНЯ</h4>
                    <ul class="info-items list">
                        <li>
                            <p class="info-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                                sint.</p>
                        </li>
                        <li>
                            <p class="info-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                                sint.</p>
                        </li>
                    </ul>
                </li>

                <li class="info-item">
                    <h4 class="subtitle">МЕДІА</h4>
                    <p class="subtitle-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                        Velit officia consequat
                        duis enim velit
                        mollit.</p>
                </li>
            </ul>
            <div class="control">
                <button class="btn" type="button" booking-modal-open>ОФОРМИТИ БРОНЮВАННЯ</button>
                <a class="return link" href="#">Повернутися до перегляду номерів
                    <svg class="return-arrow" width="24" height="24">
                        <use href="../Img/icons.svg#icon-cil_arrow"></use>
                    </svg>
                </a>
            </div>
        </div>
    </section>
