<section class="apartments">
    <div class="apartments-container">
        <h2 class="apartments-name">
            MIMIH<p class="apartments-name-spacing">O</p>
        </h2>
        <h2 class="apartments-name-2">
            Готель
        </h2>
        <p class="apartments-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
            Velit officia consequat duis enim velit mollit.
        </p>

    <ul class="apartments-services">
        <li>
            <img class="apartments-services-image1" srcset="../Img/Homepage/Homepage-main12-1x.jpg 1x,
            ../Img/Homepage/Homepage-main12-2x.jpg 2x"
            src="../Img/Homepage/Homepage-main12-1x.jpg" alt="привітний сервіс">
        </li>
        <li>
            <img class="apartments-services-image2" srcset="../Img/Homepage/Homepage-main13-1x.jpg 1x,
            ../Img/Homepage/Homepage-main13-2x.jpg 2x"
            src="../Img/Homepage/Homepage-main13-1x.jpg" alt="сніданок">
        </li>
        <li>
            <img class="apartments-services-image3" srcset="../Img/Homepage/Homepage-main14-1x.jpg 1x,
            ../Img/Homepage/Homepage-main14-2x.jpg 2x"
            src="../Img/Homepage/Homepage-main14-1x.jpg" alt="гарний номер">
        </li>
    </ul>
    <ul class="apartments-arrow-btns">
        <li>
          <button type="button" class="apartments-arrow-btn">
            <svg width="32" height="32" class="apartments-arrow-btn-icon">
              <use href="../Img/icons.svg#icon-arrow-left"></use>
            </svg>
          </button>
        </li>
        <li>
          <button type="button" class="apartments-arrow-btn">
            <svg width="32" height="32" class="apartments-arrow-btn-icon">
              <use href="../Img/icons.svg#icon-arrow-right"></use>
            </svg>
          </button>
        </li>
      </ul>
      <div class="apartments-btns-position">
      <ul class="apartments-accept-btns">
        <li>
            <button type="button" class="apartments-accept-btn js-open-modal" data-modal="2">Забронювати номер</button>
        </li>
        <li>
            <a href="./hotel.html">
                <button type="button" class="apartments-accept-btn">Переглянути ціни</button>
            </a>
        </li>
      </ul>
    </div>
</div>
</section>