<div class="backdrop-booking is-booking-hidden" booking-modal>
    <div class="modality-booking">
        <button type="button" class="modality-booking-close" booking-modal-close>
            <svg class="modality-booking-icon" width="24" height="24">
                <use href="../Img/icons.svg#icon-222"></use>
            </svg>
        </button>
        <p class="booking-title">ЗАБРОНЮВАТИ НОМЕР</p>

        <form class="modal-booking">
            <div class="box-booking">
                <div class="modal-booking-field">
                    <label for="user-name" class="input-booking-text"></label>
                    <div class="input-booking-wrap">
                        <input type="text" name="user-name" id="user-name" class="modal-booking-input"
                            placeholder="Ваше ім’я" required>

                        <p class="booking-text">На кого забронювати номер?</p>
                    </div>

                </div>
                <div class="modal-booking-field">
                    <label for="user-phone" class="input-booking-text"></label>
                    <div class="input-booking-wrap">
                        <input type="tel" name="user-phone" id="user-phone" class="modal-booking-input"
                            placeholder="+38 (___) ___-__-__" required>

                        <p class="booking-text">Номер телефону</p>
                    </div>

                </div>
            </div>

            <div class="modal-booking-field">
                
                <div class="input-booking-wrap">
                    <select name="user-lux" id="user-lux" class="modal-booking-desc">
                        <option value="x">Двухмісний люкс</option>
                        <option value="xx" selected>Двухмісний</option>
                        <option value="xxx">Трьохмітний</option>
                    </select>
                    <p class="booking-text">Категорія номеру</p>
                </div>
            </div>

            <div class="box-booking">
                
                <div class="modal-booking-field">
                    <div class="input-booking-wrap">
                        <select name="user-two" id="user-two" class="modal-booking-desc">
                            <option value="x" selected>Сьогодні</option>
                            <option value="x1">1</option>
                            <option value="x2">2</option>
                            <option value="x3">3</option>
                        </select>
                        <p class="booking-text">Дата заїзду</p>
                    </div>
                </div>
                <div class="modal-booking-field">
                    <label for="user-email" class="input-booking-text"></label>
                    <div class="input-booking-wrap">
                        <select name="user-thre" id="user-thre" class="modal-booking-desc">
                            <option value="x" selected>Сьогодні</option>
                            <option value="x1">1</option>
                            <option value="x2">2</option>
                            <option value="x3">3</option>
                        </select>
                        <p class="booking-text">Дата виїзду</p>
                    </div>

                </div>
            </div>
            <div class="booking-btn">
                <button class="btn-text" type="submit">ОФОРМИТИ БРОНЮВАННЯ</button>

            </div>
        </form>
    </div>