<section class='double'>
  <div class='conteiner'>
    <p class='double-text'>Amet minim mollit non</p>
    <p class='double-logo'>MIMIHO</p>
    <h2 class='double-title'>ДВОМІСНИЙ НОМЕР</h2>
    <p class='double-description'>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <img
      srcset='
      ../Img/Hotel-moob/hotel-main-mob1-1x.jpg
      ../Img/Hotel-moob/hotel-main-mob1-2x.jpg'
      src='../Img/Hotel-moob/hotel-main-mob1-1x.jpg'
      alt='double room'
      width='244'
    >
    <div class='double-slider'>
      <ul class='double-slider-list'>
        <li class='double-slider-list-item'>
          <img
            srcset='
            ../Img/Hotel-moob/hotel-main-mob3-1x.jpg
             ../Img/Hotel-moob/hotel-main-mob3-2x.jpg'
            src='../Img/Hotel-moob/hotel-main-mob3-1x.jpg'
            alt='room window'
            width='194'
          >
        </li>
        <li class='double-slider-list-item'>
          <img
            srcset='
            ../Img/Hotel-moob/hotel-main-mob2-1x.jpg
             ../Img/Hotel-moob/hotel-main-mob2-2x.jpg'
            src='../Img/Hotel-moob/hotel-main-mob2-1x.jpg'
            alt='room window'
            width='194'
          >
        </li>
      </ul>
    </div>
    <div class='double-btnArrow'>
      <button type='button' class='double-btnArrow-item'>
        <svg width="32" height="32" class="arrow-btn-icon">
          <use href="../Img/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button type='button' class='double-btnArrow-item'>
        <svg width="32" height="32" class="arrow-btn-icon">
          <use href="../Img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
    <div class='double-btnOrder'>
      <button type='button' class='double-btnOrder-btn'>
        Детальніше
      </button>
      <button type='button' class='double-btnOrder-btn'>
        Переглянути ціни
      </button>
    </div>
  </div>
</section>