<!-- FOOTER -->

<footer class="footer">
    <div class="container">
       <a href="./index.html" class="logo-footer link">MIMIHO</a>
 
       <ul class="page-list list">
           <li class="page-item"><a href="./index.html">Головна</a></li>
           <li class="page-item"><a href="./restaurant.html">Ресторан</a></li>
           <li class="page-item"><a href="./hotel.html">Готель</a></li>
       </ul>
 
       <ul class="footer-soc-list list">
         <li class="footer-soc-item"><a href="" class="footer-soc-link link">
             <svg class="footer-soc-icon" width="22" height="22">
                 <use href="./Img/icons.svg#icon-Instagram"></use>
             </svg>
         </a></li>
         <li class="footer-soc-item"><a href="" class="footer-soc-link link">
             <svg class="footer-soc-icon" width="20" height="20">
                 <use href="./Img/icons.svg#icon-facebook"></use>
             </svg>
         </a></li>
         <li class="footer-soc-item"><a href="" class="footer-soc-link link">
             <!-- <p>Instagram</p> -->
             <svg class="footer-soc-icon" width="19.5" height="17.5">
                 <use href="./Img/icons.svg#icon-telegram"></use>
             </svg>
         </a></li>
       </ul>
    </div>

 </footer>
