<header class="header">
    <section class="section-header">
        <nav>
            <h2 class="header-title">MIMIHO</h2>
            <ul class="header-list list">
                <li class="header-restoran">
                    Ресторан
                </li>
                <li><a href="tel:+380955559533"><svg class="restorant-tel" width="24" height="24">
                            <use href="../Img/icons.svg#icon-fluent_phone-24-regular"></use>
                        </svg>
                        <p class="header-restorant-tel-number">095 555 95 33</p>
                    </a></li>
                <li><a href="tel:+380955559533"><svg class="restorant-tel" width="24" height="24">
                            <use href="../Img/icons.svg#icon-fluent_phone-24-regular"></use>
                        </svg></a></li>
                <li class="header-hotell">
                    Готель
                </li>
                <li><a href="tel:+380668491089"><svg class="hotel-tel" width="24" height="24">
                            <use href="../Img/icons.svg#icon-fluent_phone-24-regular"></use>
                        </svg>
                        <p class="header-hotel-tel-number">066 849 10 89</p>
                    </a></li>
                <li><a href="tel:+380668491089"><svg class="hotel-tel" width="24" height="24">
                            <use href="../Img/icons.svg#icon-fluent_phone-24-regular"></use>
                        </svg></a></li>
            </ul>
            <ul class="header-soc-linc list">
                <li class="header-soc-item"><a href=""><svg class="instagram" width="24" height="24">
                            <use href="../Img/icons.svg#icon-akar-icons_instagram-fill"></use>
                        </svg></a></li>
                <li class="header-soc-item"><a href=""><svg class="facebook" width="24" height="24">
                            <use href="../Img/icons.svg#icon-jam_facebook-square"></use>
                        </svg></a></li>
                <li class="header-soc-item"><a href=""><svg class="telegram" width="24" height="24">
                            <use href="../Img/icons.svg#icon-la_telegram-plane"></use>
                        </svg></a></li>
            </ul>
        </nav>
    </section>
</header>