<header class="header">
    <div class="header-container">
        <nav class="header-navigation">
            <a href="/index.html" class="logo link">MIMIHO</a>
            <ul class="header-list list">
                <li class="header-item-restorant"><span class="heder-link-index"><a class="header-link link"
                            href="./restaurant.html">Ресторан</a></span></li>
                <li class="header-item"><a href="tel:+380955559533" class="restorant-tel-svg link"><svg
                            class="restorant-tel" width="24" height="24">
                            <use href="./Img/icons.svg#icon-fluent_phone-24-regular"></use>
                        </svg>
                        <p class="header-restorant-tel-number link">095 555 95 33</p>
                    </a></li>
                <li class="header-item-phone">
                    <a href="tel:+380955559533"><svg class="restorant-tel" width="24" height="24">
                            <use href="./Img/icons.svg#icon-fluent_phone-24-regular"></use>
                        </svg>
                </li>
                <li class="header-item-hotel"><a class="header-link link" href="./hotel.html">Готель</a></li>
                <li class="header-item"><a href="tel:+380668491089" class="restorant-tel-svg link"><svg
                            class="restorant-tel" width="24" height="24">
                            <use href="./Img/icons.svg#icon-fluent_phone-24-regular"></use>
                        </svg>
                        <p class="header-restorant-tel-number link">066 849 10 89</p>
                    </a></li>
                <li class="header-item-phone">
                    <a href="tel:+380668491089"><svg class="restorant-tel" width="24" height="24">
                            <use href="./Img/icons.svg#icon-fluent_phone-24-regular"></use>
                        </svg>
                </li>
            </ul>
        </nav>
        <ul class="header-list-contact list">

            <li class="header-list-contac-item-one"><a class="header-contact link" href="https://www.instagram.com/"
                    target="_blank" rel="noopener noreferrer nofollow"><svg class="instagram-header" width="24"
                        height="24">
                        <use href="./Img/icons.svg#icon-akar-icons_instagram-fill"></use>
                    </svg></a></li>
            <li class="header-list-contac-item-one"><a class="header-contact link" href="https://www.facebook.com/"
                    target="_blank" rel="noopener noreferrer nofollow"><svg class="instagram-header" width="24"
                        height="24">
                        <use href="./Img/icons.svg#icon-jam_facebook-square"></use>
                    </svg></a></li>
            <li class="header-list-contac-item-one"><a class="header-contact link" href="https://telegram.org/"
                    target="_blank" rel="noopener noreferrer nofollow"><svg class="instagram-header" width="24"
                        height="24">
                        <use href="./Img/icons.svg#icon-la_telegram-plane"></use>
                    </svg></a></li>
        </ul>
    </div>
</header>