<section class="restorant-first-sec">
    <div class="restorant-map-for-mobile-only">
        <a href="https://goo.gl/maps/y6cGLHMY3Uo88nxx9" class="restorant-pin-adres-mobile link"><svg
                class="restorant-pin-tu-map" width="24" height="24">
                <use href="./Img/icons.svg#icon-entypo_location-pin"></use>
            </svg>
            <p class="restorant-text-whid-pin-mobile">Україна, м. Полтава,<br>
                вул. Маршала Бірюзова, 15</p>
        </a>
    </div>
    <div class="restorant-sec-container">
        <div class="restorant-first-sec-text">
            <h1 class="restorant-first-sec-title">MIMIHO</h1>
            <p class="restorant-first-sec-paragraf">Ресторан</p>
            <p class="restorant-first-sec-paragraf-two">СМАК ЖИТТЯ 24/7</p>
        </div>
    </div>
    <div class="restorant-map-and-btn-sec">
        <div class="restorant-map">
            <a href="https://goo.gl/maps/y6cGLHMY3Uo88nxx9" class="restorant-pin-adres link"><svg
                    class="restorant-pin-tu-map" width="24" height="24">
                    <use href="./Img/icons.svg#icon-entypo_location-pin"></use>
                </svg>
                <p class="restorant-text-whid-pin">Україна, м. Полтава,<br>
                    вул. Маршала Бірюзова, 15</p>
            </a>
        </div>
        <div class="restorant-buttums">
            <ul class="restorant-buttums-list">
                <li><button type="button" class="restorant-buttum-tible js-open-modal " data-modal="1">Забронювати
                        столик</button></li>
                <li><button type="button" class="restorant-buttum-number" href="#munu">Переглянути
                        меню</button></li>
            </ul>
        </div>
    </div>
    <!--Виключно для планшета і мобільного-->
    <div class="restorant-soc-link">
        <ul class="restorant-soc-list">
            <li class="restorant-soc-link-item"><a href="https://www.instagram.com/" target="_blank"
                    rel="noopener noreferrer nofollow"><svg class="instagram" width="22" height="22">
                        <use href="./Img/icons.svg#icon-akar-icons_instagram-fill"></use>
                    </svg></a></li>
            <li class="restorant-soc-link-item"><a href="https://www.facebook.com/" target="_blank"
                    rel="noopener noreferrer nofollow"><svg class="facebook" width="22" height="22">
                        <use href="./Img/icons.svg#icon-jam_facebook-square"></use>
                    </svg></a></li>
            <li class="restorant-soc-link-item"><a href="https://telegram.org/" target="_blank"
                    rel="noopener noreferrer nofollow"><svg class="telegram" width="22" height="22">
                        <use href="./Img/icons.svg#icon-la_telegram-plane"></use>
                    </svg></a></li>
        </ul>
    </div>
</section>