<section class="room-first-sec">
    <div class="room-map-for-mobile-only">
        <a href="https://goo.gl/maps/y6cGLHMY3Uo88nxx9" class="room-pin-adres-mobile link"><svg class="room-pin-tu-map"
                width="24" height="24">
                <use href="./Img/icons.svg#icon-entypo_location-pin"></use>
            </svg>
            <p class="room-text-whid-pin-mobile">Україна, м. Полтава,<br>
                вул. Маршала Бірюзова, 15</p>
        </a>
    </div>
    <div class="room-sec-container">
        <div class="room-first-sec-text">
            <h1 class="room-first-sec-title">MIMIHO</h1>
            <p class="room-first-sec-paragraf">Ресторанно-готельний
                комплекс</p>
        </div>
    </div>
    <div class="room-map-and-btn-sec">
        <div class="room-map">
            <a href="https://goo.gl/maps/y6cGLHMY3Uo88nxx9" class="room-pin-adres link"><svg class="room-pin-tu-map"
                    width="24" height="24">
                    <use href="./Img/icons.svg#icon-entypo_location-pin"></use>
                </svg>
                <p class="room-text-whid-pin">Україна, м. Полтава,<br>
                    вул. Маршала Бірюзова, 15</p>
            </a>
        </div>
        <div class="room-buttums">
            <ul class="room-buttums-list">
                <li><button type="button" class="room-buttum-tible">Забронювати номер</button></li>
                <li><button type="button" class="room-buttum-number">Переглянути ціни</button></li>
            </ul>
        </div>
    </div>
    <!--Виключно для планшета і мобільного-->
    <div class="room-soc-link">
        <ul class="room-soc-list">
            <li class="room-soc-link-item"><a href="https://www.instagram.com/" target="_blank"
                    rel="noopener noreferrer nofollow"><svg class="instagram" width="22" height="22">
                        <use href="./Img/icons.svg#icon-akar-icons_instagram-fill"></use>
                    </svg></a></li>
            <li class="room-soc-link-item"><a href="https://www.facebook.com/" target="_blank"
                    rel="noopener noreferrer nofollow"><svg class="facebook" width="22" height="22">
                        <use href="./Img/icons.svg#icon-jam_facebook-square"></use>
                    </svg></a></li>
            <li class="room-soc-link-item"><a href="https://telegram.org/" target="_blank"
                    rel="noopener noreferrer nofollow"><svg class="telegram" width="22" height="22">
                        <use href="./Img/icons.svg#icon-la_telegram-plane"></use>
                    </svg></a></li>
        </ul>
    </div>
</section>