<Section class="hero-restorant-section">
    <div class="conteiner">
        <div class="hero-title-sec">
            <h2 class="hero-title">MIMIHO</h2>
        </div>
        <p class="hero-paragraf">Ресторан</p>
        <h3 class="hero-smoll-title">СМАК ЖИТТЯ 24/7</h3>
        <div class="hero-link-tu-map">
            <a href="" class="hero-link-text">Україна, м. Полтава,
                вул. Маршала Бірюзова, 15</a>
        </div>
        <div class="hero-buttums">
            <ul>
                <li><button type="button" class="hero-buttum-tible">Забронювати столик</button></li>
                <li><button type="button" class="hero-buttum-number">Забронювати номер</button></li>
            </ul>
        </div>
        <!--Виключно для планшета і мобільного-->
        <div class="hero-soc-link">
            <ul class="hero-soc-list">
                <li class="hero-soc-link-item"><a href=""><svg class="instagram" width="22" height="22">
                            <use href="../Img/icons.svg#icon-akar-icons_instagram-fill"></use>
                        </svg></a></li>
                <li class="hero-soc-link-item"><a href=""><svg class="facebook" width="22" height="22">
                            <use href="../Img/icons.svg#icon-jam_facebook-square"></use>
                        </svg></a></li>
                <li class="hero-soc-link-item"><a href=""><svg class="telegram" width="22" height="22">
                            <use href="../Img/icons.svg#icon-la_telegram-plane"></use>
                        </svg></a></li>
            </ul>
        </div>
    </div>
</Section>