<section class="number-sec">
    <div class="number-map-for-mobile-only">
        <a href="https://goo.gl/maps/y6cGLHMY3Uo88nxx9" class="number-pin-adres-mobile-first link"><svg
                class="number-pin-tu-map" width="24" height="24">
                <use href="./Img/icons.svg#icon-entypo_location-pin"></use>
            </svg>
            <p class="number-text-whid-pin-mobile">Україна, м. Полтава,<br>
                вул. Маршала Бірюзова, 15</p>
        </a>
    </div>
    <div class="number-sec-container">
        <ul class="arrow">
            <li><a href="" class="number-arrow-left-l link"><svg class="number-arrow-left" width="40" height="40">
                        <use href="./Img/icons.svg#icon-cil_arrow-left"></use>
                    </svg>
                </a></li>
            <li><a href="" class="number-arrow-rite-l link"><svg class="number-arrow-rite" width="40" height="40">
                        <use href="./Img/icons.svg#icon-cil_arrow-right"></use>
                    </svg>
                </a></li>
        </ul>
        <div>
            <h2 class="number-title">ДВОМІСНИЙ НОМЕР люкс</h2>
        </div>
        <div class="number-text-and-btn">
            <p class="number-paragraf">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                officia consequat duis enim velit
                mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <button type="button" class="number-btn js-open-modal" data-modal="3-1">Переглянути ціни</button>
        </div>
        <div class="number-adres-soc-link">
            <a href="https://goo.gl/maps/y6cGLHMY3Uo88nxx9" class="number-pin-adres-mobile dovn link"><svg
                    class="number-pin-tu-map" width="24" height="24">
                    <use href="./Img/icons.svg#icon-entypo_location-pin"></use>
                </svg>
                <p class="number-text-whid-pin-mobile">Україна, м. Полтава,<br>
                    вул. Маршала Бірюзова, 15</p>
            </a>
            <di class="nomber-dovn">
                <ul class="number-soc-list">
                    <li class="number-soc-link-item"><a href="https://www.instagram.com/" target="_blank"
                            rel="number noreferrer nofollow"><svg class="instagram" width="22" height="22">
                                <use href="./Img/icons.svg#icon-akar-icons_instagram-fill"></use>
                            </svg></a></li>
                    <li class="number-soc-link-item"><a href="https://www.facebook.com/" target="_blank"
                            rel="noopener noreferrer nofollow"><svg class="facebook" width="22" height="22">
                                <use href="./Img/icons.svg#icon-jam_facebook-square"></use>
                            </svg></a></li>
                    <li class="number-soc-link-item"><a href="https://telegram.org/" target="_blank"
                            rel="noopener noreferrer nofollow"><svg class="telegram" width="22" height="22">
                                <use href="./Img/icons.svg#icon-la_telegram-plane"></use>
                            </svg></a></li>
                </ul>
                <button type="button" class="number-btn-dovn">Переглянути ціни</button>
            </di >
        </div>
    </div>
</section>