<Section class="first-sec-restoraunt">
    <div class="sec-container">
        <div class="first-sec-text">
            <h1 class="first-sec-title">MIMIHO</h1>
            <p class="first-sec-paragraf">Ресторан</p>
            <p class="first-sec-paragraf-two">СМАК ЖИТТЯ 24/7</p>
        </div>
    </div>
    <div class="hero-map-and-btn-sec">
        <a href="" class="hero-link-text link"><svg class="pin-tu-map" width="24" height="24">
                <use href="./Img/icons.svg#icon-entypo_location-pin"></use>
            </svg>
            <p class="hero-link-text-text">Україна, м. Полтава,<br>
                вул. Маршала Бірюзова, 15</p>
        </a>
        <div class="hero-buttums">
            <ul class="hero-buttums-list">
                <li><button type="button" class="hero-buttum-tible">Забронювати столик</button></li>
                <li><button type="button" class="hero-buttum-number">Переглянути меню</button></li>
            </ul>
        </div>
    </div>
    <!--Виключно для планшета і мобільного-->
    <div class="hero-soc-link">
        <ul class="hero-soc-list">
            <li class="hero-soc-link-item"><a href=""><svg class="instagram" width="22" height="22">
                        <use href="./Img/icons.svg#icon-akar-icons_instagram-fill"></use>
                    </svg></a></li>
            <li class="hero-soc-link-item"><a href=""><svg class="facebook" width="22" height="22">
                        <use href="./Img/icons.svg#icon-jam_facebook-square"></use>
                    </svg></a></li>
            <li class="hero-soc-link-item"><a href=""><svg class="telegram" width="22" height="22">
                        <use href="./Img/icons.svg#icon-la_telegram-plane"></use>
                    </svg></a></li>
        </ul>
    </div>
</section>

