<section class="section-about-kitchen">
  <div class="kitchen-container">
    <!--------------- About Our Kitchen --------------->
    <h1 class="kitchen-visually-hidden">
      Про наш ресторан в готельному комплексі MIMIHO
    </h1>
    <div class="kitchen-item-top">
      <div class="kitchen-text-top">
        <p class="kitchen-subtitel" lang="en">Amet minim mollit non</p>
        <h2 class="kitchen-logo">MIMIHO</h2>
        <p class="kitchen-description-top" lang="en">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="kitchen-pic-top">
        <picture class="kitchen-picture-top">
          <source
            srcset="
              ./Img/Restaurant-mob/restaurant-main-mob1-1x.jpg 1x,
              ./Img/Restaurant-mob/restaurant-main-mob1-2x.jpg 2x
            "
            width="244"
            height="322"
            media="(max-width: 1023px)"
          />
          <source />
          <source
            srcset="
              ./Img/Restaurant-tablet/restaurant-main-tablet1-1x.jpg 1x,
              ./Img/Restaurant-tablet/restaurant-main-tablet1-2x.jpg 2x
            "
            width="400"
            height="524"
            media="(min-width: 1024px) and (max-width: 1279px)"
          />
          <source />
          <img
            src="./Img/Restaurant/restaurant-main1-1x.jpg"
            alt="Кухар смажить стейк на пательні"
            srcset="
              ./Img/Restaurant/restaurant-main1-1x.jpg 1x,
              ./Img/Restaurant/restaurant-main1-2x.jpg 2x
            "
            width="460"
            height="574"
          />
        </picture>
      </div>
    </div>
    <div class="kitchen-item-bottom">
      <div class="kitchen-pic-bottom">
        <picture class="kitchen-picture-bottom">
          <source
            srcset="
              ./Img/Restaurant-mob/restaurant-main-mob2-1x.jpg 1x,
              ./Img/Restaurant-mob/restaurant-main-mob2-2x.jpg 2x
            "
            width="200"
            height="278"
            media="(max-width: 1023px)"
          />
          <source />
          <source
            srcset="
              ./Img/Restaurant-tablet/restaurant-main-tablet2-1x.jpg 1x,
              ./Img/Restaurant-tablet/restaurant-main-tablet2-2x.jpg 2x
            "
            width="350"
            height="500"
            media="(min-width: 1024px) and (max-width: 1279px)"
          />
          <source />
          <img
            src="./Img/Restaurant/restaurant-main2-1x.jpg"
            alt="Сирий яловичий стейк в розрізі"
            srcset="
              ./Img/Restaurant/restaurant-main2-1x.jpg 1x,
              ./Img/Restaurant/restaurant-main2-2x.jpg 2x
            "
            width="460"
            height="574"
          />
        </picture>
      </div>
      <div class="kitchen-text-bottom">
        <p class="kitchen-description-bottom" lang="en">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
    </div>
    <!--------------- Kitchen Slides --------------->
    <div class="kitchen-slides">
      <ul class="kitchen-slides-list list">
        <li class="kitchen-slides-item">
          <picture class="kitchen-slides-picture">
            <source
              srcset="
                ./Img/Restaurant/restaurant-main3-1x.jpg 1x,
                ./Img/Restaurant/restaurant-main3-2x.jpg 2x
              "
              width="245"
              height="245"
              media="(max-width: 1023px)"
            />
            <source />
            <source
              srcset="
                ./Img/Restaurant-tablet/restaurant-main-tablet3-1x.jpg 1x,
                ./Img/Restaurant-tablet/restaurant-main-tablet3-2x.jpg 2x
              "
              width="194"
              height="194"
              media="(min-width: 1024px) and (max-width: 1279px)"
            />
            <source />
            <img
              src="./Img/Restaurant/restaurant-main3-1x.jpg"
              alt="Кухар готує тісто для хінкалі"
              srcset="
                ./Img/Restaurant/restaurant-main3-1x.jpg 1x,
                ./Img/Restaurant/restaurant-main3-2x.jpg 2x
              "
              width="254"
              height="254"
            />
          </picture>
        </li>
        <li class="kitchen-slides-item kitchen-pic-hidden">
          <picture class="kitchen-slides-picture">
            <source
              srcset="
                ./Img/Restaurant/restaurant-main4-1x.jpg 1x,
                ./Img/Restaurant/restaurant-main4-2x.jpg 2x
              "
              width="245"
              height="245"
              media="(max-width: 1023px)"
            />
            <source />
            <source
              srcset="
                ./Img/Restaurant-tablet/restaurant-main-tablet4-1x.jpg 1x,
                ./Img/Restaurant-tablet/restaurant-main-tablet4-2x.jpg 2x
              "
              width="194"
              height="194"
              media="(min-width: 1024px) and (max-width: 1279px)"
            />
            <source />
            <img
              src="./Img/Restaurant/restaurant-main4-1x.jpg"
              alt="Тарілка приготованних хінкалі"
              srcset="
                ./Img/Restaurant/restaurant-main4-1x.jpg 1x,
                ./Img/Restaurant/restaurant-main4-2x.jpg 2x
              "
              width="254"
              height="254"
            />
          </picture>
        </li>
      </ul>
    </div>
    <div class="kitchen-svg">
      <ul class="kitchen-svg-list list">
        <li class="kitchen-svg-item">
          <svg class="kitchen-svg-icon" width="32" height="32">
            <use href="./Img/icons.svg#icon-left"></use>
          </svg>
        </li>
        <li class="kitchen-svg-item">
          <svg class="kitchen-svg-icon" width="32" height="32">
            <use href="./Img/icons.svg#icon-arrow-right"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
