<!-- Верстка секції -->
<!-- aor - About our restaurant  -->
<section class="aor">
  <div class="container">
    <div class="aor-wrap">
      <h2 class="aor-title">Про наш ресторан</h2>
      <p class="uppercase aor-logo">MIMIHO</p>
      <p class="aor-pre-title">Ресторанно-готельний комплекс</p>
      <address class="aor-address">
        <div class="aor-rest-contacts">
          <p class="aor-rest-text">Ресторан</p>
          <div class="contacts-rest-wrap">
            <svg class="aor-svgs" width="24" height="24">
              <use href="./Img/icons.svg#icon-fluent_phone-24-regular"></use>
            </svg>
            <a href="tel:+380955559533" class="aor-tel">095 555 95 33</a>
          </div>
        </div>
        <div class="aor-hotel-contacts">
          <p class="aor-hotel-text">Готель</p>
          <div class="contacts-hotel-wrap">
            <svg class="aor-svgs" width="24" height="24">
              <use href="./Img/icons.svg#icon-fluent_phone-24-regular"></use>
            </svg>
            <a href="tel:+380668491089" class="aor-tel">066 849 10 89</a
            ><a href="tel:+380672758540" class="aor-tel">067 275 85 40</a>
          </div>
        </div>
        <div class="contacts-map-wrap">
          <svg class="aor-svgs" width="24" height="24">
            <use href="./Img/icons.svg#icon-entypo_location-pin"></use>
          </svg>
          <a href="" class="aor-map-address"
            >Україна, м. Полтава, <br class="mob-br tablet-br" />
            вул. Маршала Бірюзова, 15</a
          >
        </div>
      </address>
      <picture class="map-picture"
        ><source
          media="(min-width:1280px)"
          srcset="./Img/Map/Map-1x.jpg 1x, ./Img/Map/Map-2x.jpg 2x"
          width="634"
          height="412"
          type="image/jpeg"
        />
        <source
          media="(min-width:1024px)"
          srcset="
            ./Img/Map-tablet/Map-tablet-1x.jpg 1x,
            ./Img/Map-tablet/Map-tablet-2x.jpg 2x
          "
          width="535"
          height="412"
          type="image/jpeg"
        />
        <source
          media="(min-width:414px)"
          srcset="
            ./Img/Map-mob/Map-mob-1x.jpg 1x,
            ./Img/Map-mob/Map-mob-2x.jpg 2x
          "
          width="384"
          height="220"
          type="image/jpeg"
        />
        <img
          src="./Img/Map-mob/Map-mob-1x.jpg"
          alt="map"
          width="384"
          height="220"
        />
      </picture>
    </div>
  </div>
</section>
<!-- Верстка секції -->
