<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <main>
      <!-- Верстка секції -->
      <!-- aor - About our restaurant  -->
      <section class="aor">
        <div class="map-container">
          <div class="aor-wrap">
            <h2 class="aor-title">Про наш ресторан</h2>
            <p class="uppercase aor-logo">MIMIHO</p>
            <p class="aor-pre-title">Ресторанно-готельний комплекс</p>
            <address class="aor-address">
              <div class="aor-rest-contacts">
                <p class="aor-rest-text">Ресторан</p>
                <div class="contacts-rest-wrap">
                  <svg class="aor-svgs" width="24" height="24">
                    <use
                      href="../Img/icons.svg#icon-fluent_phone-24-regular"
                    ></use>
                  </svg>
                  <a href="tel:+380955559533" class="aor-tel"
                    >095&nbsp;555&nbsp;95&nbsp;33</a
                  >
                </div>
              </div>
              <div class="aor-hotel-contacts">
                <p class="aor-hotel-text">Готель</p>
                <div class="contacts-hotel-wrap">
                  <svg class="aor-svgs" width="24" height="24">
                    <use
                      href="../Img/icons.svg#icon-fluent_phone-24-regular"
                    ></use>
                  </svg>
                  <a href="tel:+380668491089" class="aor-tel"
                    >066&nbsp;849&nbsp;10&nbsp;89</a
                  ><a href="tel:+380672758540" class="aor-tel"
                    >067&nbsp;275&nbsp;85&nbsp;40</a
                  >
                </div>
              </div>
              <div class="contacts-map-wrap">
                <svg class="aor-svgs" width="24" height="24">
                  <use href="../Img/icons.svg#icon-entypo_location-pin"></use>
                </svg>
                <a
                  href="https://www.google.com.ua/maps/place/%D1%83%D0%BB.+%D0%9C%D0%B0%D1%80%D1%88%D0%B0%D0%BB%D0%B0+%D0%91%D0%B8%D1%80%D1%8E%D0%B7%D0%BE%D0%B2%D0%B0,+15,+%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D0%B0,+%D0%9F%D0%BE%D0%BB%D1%82%D0%B0%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C,+36000/@49.5991975,34.5243576,17z/data=!3m1!4b1!4m6!3m5!1s0x40d82601f3347a5f:0x36f3f9aeec44a6a!8m2!3d49.599194!4d34.5265463!16s%2Fg%2F1tggm4y1?hl=ru"
                  class="aor-map-address"
                  >Україна, м. Полтава, <br class="aor-br" />
                  вул. Маршала<br class="aor-br" />
                  Бірюзова, 15</a
                >
              </div>
            </address>
            <picture class="map-picture"
              ><source
                media="(min-width:1280px)"
                srcset="./Img/Map/Map-1x.jpg 1x, ./Img/Map/Map-2x.jpg 2x"
                width="634"
                height="412"
                type="image/jpeg"
              />
              <source
                media="(min-width:1024px)"
                srcset="
                  ./Img/Map-tablet/Map-tablet-1x.jpg 1x,
                  ./Img/Map-tablet/Map-tablet-2x.jpg 2x
                "
                width="535"
                height="412"
                type="image/jpeg"
              />
              <source
                media="(min-width:414px)"
                srcset="
                  ./Img/Map-mob/Map-mob-1x.jpg 1x,
                  ./Img/Map-mob/Map-mob-2x.jpg 2x
                "
                width="384"
                height="220"
                type="image/jpeg"
              />
              <img
                src="./Img/Map-mob/Map-mob-1x.jpg"
                alt="map"
                width="384"
                height="220"
              />
            </picture>
          </div>
        </div>
      </section>
      <!-- Верстка секції -->
    </main>
  </body>
</html>
