<section class="section-restaurant-menu" id="munu">
  <div class="menu-container">
    <!--------------- Menu --------------->
    <h2 class="menu-subtitel" >МЕНЮ РЕСТОРАНУ</h2>
    <div class="menu-table-item">
      <div class="menu-table-left">
        <div class="d-table">
          <div class="d-caption menu-caption">Гарячі страви</div>
          <div class="d-tr">
            <div class="d-td menu-dish">Борщ з телятини з квасолею</div>
            <div class="d-td menu-grams">400 г</div>
            <div class="d-td menu-cost">240 грн</div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-description">
              Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
              помідори, зелень, сметана
            </div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-dish">Суп сирний з куркою</div>
            <div class="d-td menu-grams">400 г</div>
            <div class="d-td menu-cost">200 грн</div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-description">
              Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень
            </div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-dish">Паста карбонара</div>
            <div class="d-td menu-grams">350 г</div>
            <div class="d-td menu-cost">430 грн</div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-description">
              Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень
            </div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-dish">Стейк зі свинини</div>
            <div class="d-td menu-grams">400 г</div>
            <div class="d-td menu-cost">500 грн</div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-description">
              Свиняча вирізка, спеціі, подається з соусом солодкий чилі та
              овочами
            </div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-dish">Горбуша в соусі з білого вина</div>
            <div class="d-td menu-grams">400 г</div>
            <div class="d-td menu-cost">400 грн</div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-description no-p">
              Ніжна горбуша, вершковий соус на основі білого вина
            </div>
          </div>
        </div>
        <div class="d-table">
          <div class="d-caption menu-caption">Гарніри та закуски</div>
          <div class="d-tr">
            <div class="d-td menu-dish">Запечені овочі</div>
            <div class="d-td menu-grams">200 г</div>
            <div class="d-td menu-cost">230 грн</div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-description">
              Кабачок, перець, помідор, баклажан
            </div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-dish">Картопля фрі</div>
            <div class="d-td menu-grams">150 г</div>
            <div class="d-td menu-cost">160 грн</div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-description">Картопля, соус томатний</div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-dish">Картопля по-селянськи</div>
            <div class="d-td menu-grams">150 г</div>
            <div class="d-td menu-cost">160 грн</div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-description">
              Картопля, спеції, соус пікантний
            </div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-dish">Хрумкі соління з бочки</div>
            <div class="d-td menu-grams">250 г</div>
            <div class="d-td menu-cost">350 грн</div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-description">
              Огірок солений, помідор квашений, квашена капуста, морква
              по-корейські
            </div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-dish">Крильця курячі в медовому соусі</div>
            <div class="d-td menu-grams">400 г</div>
            <div class="d-td menu-cost">420 грн</div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-description no-p">
              Крильця курячі, гірчично-медовий соус, подається з морквою,
              селерою і соусом блючиз
            </div>
          </div>
        </div>
      </div>
      <div class="menu-table-right">
        <div class="d-table">
          <div class="d-caption menu-caption">Салати</div>
          <div class="d-tr">
            <div class="d-td menu-dish">Цезар з куркою</div>
            <div class="d-td menu-grams">230 г</div>
            <div class="d-td menu-cost">450 грн</div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-description">
              Куряче філе, листя салату, помідори чері, сир пармезан, грінки,
              соус цезар
            </div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-dish">Цезар з креветками</div>
            <div class="d-td menu-grams">230 г</div>
            <div class="d-td menu-cost">300 грн</div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-description">
              Тигрові креветки, листя салату, помідори чері, сир пармезан,
              грінки, соус цезар
            </div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-dish">Грецький салат</div>
            <div class="d-td menu-grams">230 г</div>
            <div class="d-td menu-cost">280 грн</div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-description">
              Свіжі огірок, помідор, болгарський перець, оливки, сир бринза,
              листя салату, соус
            </div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-dish">М’ясний салат</div>
            <div class="d-td menu-grams">230 г</div>
            <div class="d-td menu-cost">300 грн</div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-description no-p">
              Куряче філе або свиняча вирізка, свіжі огірок, помідор,
              болгарський перець, соус ранч
            </div>
          </div>
        </div>
        <div class="d-table">
          <div class="d-caption menu-caption">Десерти</div>
          <div class="d-tr">
            <div class="d-td menu-dish add-p">Торт наполеон</div>
            <div class="d-td menu-grams">230 г</div>
            <div class="d-td menu-cost">300 грн</div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-dish add-p">Торт маковий</div>
            <div class="d-td menu-grams">230 г</div>
            <div class="d-td menu-cost">300 грн</div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-dish">Тірамісу</div>
            <div class="d-td menu-grams">120 г</div>
            <div class="d-td menu-cost">260 грн</div>
          </div>
        </div>
        <div class="d-table">
          <div class="d-caption menu-caption">Напої</div>
          <div class="d-tr">
            <div class="d-td menu-dish add-p">Чай чорний/зелений</div>
            <div class="d-td menu-grams">500 мл</div>
            <div class="d-td menu-cost">100 грн</div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-dish add-p">Еспресо</div>
            <div class="d-td menu-grams">30 мл</div>
            <div class="d-td menu-cost">100 грн</div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-dish add-p">Американо</div>
            <div class="d-td menu-grams">150 мл</div>
            <div class="d-td menu-cost">100 грн</div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-dish add-p">Капучино</div>
            <div class="d-td menu-grams">200 мл</div>
            <div class="d-td menu-cost">160 грн</div>
          </div>
          <div class="d-tr">
            <div class="d-td menu-dish">Лате</div>
            <div class="d-td menu-grams">200 мл</div>
            <div class="d-td menu-cost">160 грн</div>
          </div>
        </div>
      </div>
    </div>
    <!--------------- Menu Button--------------->
    <button class="menu-button js-open-modal" type="button" data-modal="1">Забронювати столик</button>
  </div>
</section>