<div class="backdrop-price is-price-hidden" price-modal>
    <div class="modality-price">
        <button type="button" class="modality-price-close" price-modal-close>
            <svg class="modality-price-icon" width="24" height="24">
                <use href="../Img/icons.svg#icon-222"></use>
            </svg>
        </button>
        <p class="price-title">ЦІНИ НА НОМЕР</p>
        <p class="price-subject">Двомісний люкс</p>
        <p class="price-subtitle">Категорія номеру</p>

        <form class="modal-price">
            <div class="box-price">

                <div class="modal-price-field">

                    <label for="user-name" class="input-price-text"></label>

                    <div class="input-price-wrap">

                        <input type="text" name="user-name" id="user-name" class="modal-price-input" placeholder="1"
                            required>
                        <svg class="input-price-icon" width="24" height="24">
                            <use href="../Img/icons.svg#icon-ep_arrow"></use>
                        </svg>

                        <p class="price-text">Кількість ночей</p>
                    </div>

                </div>
                <div class="modal-price-field">
                    <label for="user-email" class="input-price-text"></label>
                    <div class="input-price-wrap">
                        <input type="email" name="user-data" id="user-data" class="modal-price-input" placeholder="1000"
                            required>

                        <p class="price-text">грн</p>
                    </div>

                </div>
            </div>

            <div class="price-btn">
                <button class="btn-price-text" type="button">ОФОРМИТИ БРОНЮВАННЯ</button>

            </div>
        </form>
    </div>