<p>3242</p>

<!--==========SECTION 1========234=-->   
<!-- ntcn  -->
<section class="section-restaurant">
    11112222243436363
    
<h2 class="title-none-rest">Restaurant</h2>
<div class="container-rest rest-inter">
    <div>
<p class="after-logo">Amet minim mollit non</p>
<h3 class="logo-rest">MIMIHO</h3>
    <p class="text-rest">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
    <picture class="inter im">
        <source srcset="./Img/Homepage/Homepage-main1-1x.jpg 1x, ./Img/Homepage/Homepage-main1-2x.jpg 2x"
    media="(min-width: 1280px)"
    width="460">
    <source srcset="./Img/Homepage-tablet/Homepage-main-tablet1-1x.jpg 1x, ./Img/Homepage-tablet/Homepage-main-tablet1-2x.jpg 2x"
    media="(min-width: 1024px)"
    width="400">
    <source srcset="./Img/Homepage-mob/Homepage-main-mob1-1x.jpg 1x, ./Img/Homepage-mob/Homepage-main-mob1-2x.jpg 2x"
    media="(min-width: 320px)"
    width="244">        
    <img src="./Img/Homepage-mob/Homepage-main-mob1-1x.jpg" alt="interier"
    width="244" height="322" >
</picture>
</div>
<div class="container-rest inter-text">
    <ul class="list-rest rest-in">
        <li class="list-item-rest img-rest-inter im">
            <picture class="img-rest-inter">
    <source srcset="./Img/Homepage/Homepage-main2-1x.jpg 1x, ./Img/Homepage/Homepage-main2-2x.jpg 2x"
    media="(min-width: 1280px)"
    width="460">
    <source srcset="./Img/Homepage-tablet/Homepage-main-tablet2-1x.jpg 1x, ./Img/Homepage-tablet/Homepage-main-tablet2-2x.jpg 2x"
    media="(min-width: 1024px)"
    width="350">
    <source srcset="./Img/Homepage-mob/Homepage-main-mob2-1x.jpg 1x, ./Img/Homepage-mob/Homepage-main-mob2-2x.jpg 2x"
    media="(min-width: 320px)"
    width="200">
    <img src="./Img/Homepage/Homepage-main-mob2-1x.jpg" alt="interier"
    width="200" height="278">
    </picture>
        </li>
        <li class="list-item-rest">
            <p class="text-rest text-to">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </li>
    </ul>
    
    
</div>
<div class="container-rest rest-slaid">
    <!--<ul class="list-rest bok">
        <li class="list-item-rest img-bok">-->
            <picture class="im">
                <source srcset="./Img/Homepage/Homepage-main3-1x.jpg 1x, ./Img/Homepage/Homepage-main3-2x.jpg 2x"
                media="(min-width: 1280px)"
                width="254">
                <source srcset="./Img/Homepage-tablet/Homepage-main-tablet3-1x.jpg 1x, ./Img/Homepage-tablet/Homepage-main-tablet3-2x.jpg 2x"
                media="(min-width: 1024px)" width="194" height="194">              
                <source srcset="./Img/Homepage-mob/Homepage-main-mob3-1x.jpg 1x, ./Img/Homepage-mob/Homepage-main-mob3-2x.jpg 2x"
                media="(min-width: 320px)"
                width="245">
                <img src="./Img/Homepage/Homepage-main-mob3-1x.jpg" alt="interier"
                width="245" height="245">
            </picture>
        <!--</li>
        <li class="list-item-rest img-st">-->
            <picture class="tab im">
                
                <source srcset="./Img/Homepage/Homepage-main4-1x.jpg 1x, ./Img/Homepage/Homepage-main4-2x.jpg 2x"
                media="(min-width: 1280px)"
                width="254">
                <source srcset="./Img/Homepage-tablet/Homepage-main-tablet4-1x.jpg 1x, ./Img/Homepage-tablet/Homepage-main-tablet4-2x.jpg 2x"
                media="(min-width: 1024px)"
                width="194">
                <img src="./Img/Homepage/Homepage-main-tablet4-1x.jpg" alt="interier"
                width="194" height="194">
            </picture>
        <!--</li>          
    </ul>-->
    </div>
    <div class="container-rest">
        <ul class="list-rest svg-rest">
            <li class="item-rest">
                 <svg class="icon-rest" width="30" height="17">
                <use href="./Img/icons.svg#icon-left"></use>
            </svg>
            
            </li>
            <li class="item-rest">
                <svg class="icon-rest" width="30" height="17">
                <use href="./Img/icons.svg#icon-right"></use>
            </svg></li>
        </ul>
    </div>
</section>

