
=======
    <!--==========SECTION 1=========-->    
    <section class="section-restaurant">
    <h2 class="title-none-rest">Restaurant</h2>
    <div class="container-rest rest-inter">
    <p class="after-logo">Amet minim mollit non</p>
    <h3 class="logo-rest">MIMINO</h3>
    <ul class="list-rest">
        <li class="list-item-rest">
            <p class="text-rest">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </li>
        <li class="list-item-rest img-rest">
            <picture>
        <source srcset="../Img/Homepage-mob/Homepage-main-mob1-1x.jpg 1x, ../Img/Homepage-mob/Homepage-main-mob1-2x.jpg 2x"
        media="(min-width: 320px)">
        <source srcset="../Img/Homepage-tablet/Homepage-main-tablet1-1x.jpg 1x, ../Img/Homepage-tablet/Homepage-main-tablet1-2x.jpg 2x"
        media="(min-width: 414px)">
        <source srcset="../Img/Homepage/Homepage-main1-1x.jpg 1x, ../Img/Homepage/Homepage-main1-2x.jpg 2x"
        media="(min-width: 1200px)">
        <img src="../Img/Homepage/Homepage-main1-1x.jpg" alt="interier"
        width="460" height="574">
    </picture>
        </li>
    </ul>    
       </div>
    <div class="container-rest">
        <ul class="list-rest rest-inter">
            <li class="list-item-rest img-rest-inter">
                <picture>
        <source srcset="../Img/Homepage-mob/Homepage-main-mob2-1x.jpg 1x, ../Img/Homepage-mob/Homepage-main-mob2-2x.jpg 2x"
        media="(min-width: 320px)">
        <source srcset="../Img/Homepage-tablet/Homepage-main-tablet2-1x.jpg 1x, ../Img/Homepage-tablet/Homepage-main-tablet2-2x.jpg 2x"
        media="(min-width: 414px)">
        <source srcset="../Img/Homepage/Homepage-main2-1x.jpg 1x, ../Img/Homepage/Homepage-main2-2x.jpg 2x"
        media="(min-width: 1200px)">
        <img src="../Img/Homepage/Homepage-main2-1x.jpg" alt="interier"
        width="460" height="574">
        </picture>
            </li>
            <li class="list-item-rest">
                <p class="text-rest text-to">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </li>
        </ul>
        
        
    </div>
    <div class="container-rest">
        <ul class="list-rest bok">
            <li class="list-item-rest img-bok">
                <picture>
                    <source srcset="../Img/Homepage-mob/Homepage-main-mob3-1x.jpg 1x, ../Img/Homepage-mob/Homepage-main-mob3-2x.jpg 2x"
                    media="(min-width: 320px)">
                    <source srcset="../Img/Homepage-tablet/Homepage-main-tablet3-1x.jpg 1x, ../Img/Homepage-tablet/Homepage-main-tablet3-2x.jpg 2x"
                    media="(min-width: 414px)">
                    <source srcset="../Img/Homepage/Homepage-main3-1x.jpg 1x, ../Img/Homepage/Homepage-main3-2x.jpg 2x"
                    media="(min-width: 1200px)">
                    <img src="../Img/Homepage/Homepage-main3-1x.jpg" alt="interier"
                    width="254" height="254">
                </picture>
            </li>
            <li class="list-item-rest img-st">
                <picture>
                    <source srcset="../Img/Homepage-tablet/Homepage-main-tablet4-1x.jpg 1x, ../Img/Homepage-tablet/Homepage-main-tablet4-2x.jpg 2x"
                    media="(min-width: 414px)">
                    <source srcset="../Img/Homepage/Homepage-main4-1x.jpg 1x, ../Img/Homepage/Homepage-main4-2x.jpg 2x"
                    media="(min-width: 1200px)">
                    <img src="../Img/Homepage/Homepage-main4-1x.jpg" alt="interier"
                    width="254" height="254">
                </picture>
            </li>
           
                <svg width="30" height="17">
                    <use href="../Img/icons.svg#icon-left"></use>
                </svg>
                <svg width="30" height="17">
                    <use href="../Img/icons.svg#icon-right"></use>
                </svg>
           
        </ul>
        
    
    </div>
</section>

