<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/suite.css" />
    <link rel="stylesheet" href="../css/reset.css" />

    <title>Document</title>
  </head>
  <body>
    <main>
      <!-- Hotel Page 1 room luxe for 2 adult -->
      <section class="suite">
        <div class="container">
          <div class="suite-wrap">
            <p class="suite-text">Amet minim mollit non</p>
            <p class="uppercase suite-logo">mimiho</p>
            <h2 class="suite-title">
              <span class="uppercase">Двомісний номер</span> люкс
            </h2>
            <p class="suite-description">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>

            <img
              class="suite-main-photo"
              srcset="
                ../Img/Hotel-moob/hotel-main-mob1-1x.jpg 1x,
                ../Img/Hotel-moob/hotel-main-mob1-2x.jpg 2x
              "
              src="../Img/Hotel-moob/hotel-main-mob1-1x.jpg"
              alt="double room"
              width="244"
            />
            <div class="wrapper-suite-photos">
              <ul class="suite-photos-ul">
                <li class="suite-photos-item">
                  <img
                    srcset="
                      ../Img/Hotel-moob/hotel-main-mob3-1x.jpg 1x,
                      ../Img/Hotel-moob/hotel-main-mob3-2x.jpg 2x
                    "
                    src="../Img/Hotel-moob/hotel-main-mob3-1x.jpg"
                    alt=""
                    width="194"
                    height="194"
                    class="suite-photo"
                  />
                </li>
                <li class="suite-photos-item">
                  <img
                    srcset="
                      ../Img/Hotel-moob/hotel-main-mob2-1x.jpg 1x,
                      ../Img/Hotel-moob/hotel-main-mob2-2x.jpg 2x
                    "
                    src="../Img/Hotel-moob/hotel-main-mob2-1x.jpg"
                    alt=""
                    width="194"
                    height="194"
                    class="suite-photo"
                  />
                </li>
              </ul>
            </div>
            <div class="wrapper-btns-list">
              <ul class="arrow-btns">
                <button class="arrow-btn">
                  <svg width="32" height="32" class="arrow-btn-icon">
                    <use href="../Img/icons.svg#icon-arrow-left"></use>
                  </svg>
                </button>
                <button class="arrow-btn">
                  <svg width="32" height="32" class="arrow-btn-icon">
                    <use href="../Img/icons.svg#icon-arrow-right"></use>
                  </svg>
                </button>
              </ul>
            </div>
            <div>
              <ul class="accept-btns">
                <button class="accept-btn">Детальніше</button>
                <button class="accept-btn">Переглянути ціни</button>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
