<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/suite.css" />
    <link rel="stylesheet" href="../css/reset.css" />

    <title>Document</title>
  </head>
  <body>
    <main>
      <!-- Hotel Page 1 room luxe for 2 adult -->
      <section class="suite">
        <div class="container">
          <div class="suite-wrap">
            <p class="suite-text">Amet minim mollit non</p>
            <p class="uppercase suite-logo">mimiho</p>
            <h2 class="suite-title">
              <span class="uppercase">Двомісний номер</span> люкс
            </h2>
            <p class="suite-description">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
            <picture class="suite-main-photo">
              <source
                srcset="
                  ../Img/Hotel/hotel-main1-1x.jpg 1x,
                  ../Img/Hotel/hotel-main1-2x.jpg 2x
                "
                media="(min-width: 1280px)"
                type="image/jpeg"
                width="460"
              />
              <source
                srcset="
                  ../Img/Hotel-tablet/hotel-main-tablet1-1x.jpg 1x,
                  ../Img/Hotel-tablet/hotel-main-tablet1-2x.jpg 2x
                "
                media="(min-width: 1024px)"
                type="image/jpeg"
                width="400"
              />
              <source
                srcset="
                  ../Img/Hotel-moob/hotel-main-mob1-1x.jpg 1x,
                  ../Img/Hotel-moob/hotel-main-mob1-2x.jpg 2x
                "
                media="(min-width: 320px)"
                type="image/jpeg"
                width="244"
              />
              <img
                src="../Img/Hotel-moob/hotel-main-mob1-1x.jpg"
                alt="double room"
                width="244"
              />
            </picture>

            <div class="wrapper-photos-arrbtns">
              <div class="wrapper-suite-photos">
                <ul class="suite-photos-ul">
                  <li class="suite-photos-item">
                    <picture class="suite-photo">
                      <source
                        srcset="
                          ../Img/Hotel/hotel-main2-1x.jpg 1x,
                          ../Img/Hotel/hotel-main2-2x.jpg 2x
                        "
                        media="(min-width: 1280px)"
                        type="image/jpeg"
                        width="254"
                        height="254"
                      />
                      <source
                        srcset="
                          ../Img/Hotel-moob/hotel-main-mob3-1x.jpg 1x,
                          ../Img/Hotel-moob/hotel-main-mob3-2x.jpg 2x
                        "
                        media="(min-width: 320px)"
                        type="image/jpeg"
                        width="194"
                        height="194"
                      />
                      <img
                        src="../Img/Hotel-moob/hotel-main-mob3-1x.jpg"
                        alt=""
                        width="194"
                        height="194"
                      />
                    </picture>
                  </li>
                  <li class="suite-photos-item">
                    <picture class="suite-photo">
                      <source
                        srcset="
                          ../Img/Hotel/hotel-main3-1x.jpg 1x,
                          ../Img/Hotel/hotel-main3-2x.jpg 2x
                        "
                        media="(min-width: 1280px)"
                        type="image/jpeg"
                        width="254"
                        height="254"
                      />
                      <source
                        srcset="
                          ../Img/Hotel-moob/hotel-main-mob2-1x.jpg 1x,
                          ../Img/Hotel-moob/hotel-main-mob2-2x.jpg 2x
                        "
                        media="(min-width: 320px)"
                        type="image/jpeg"
                        width="194"
                        height="194"
                      />
                      <img
                        src="../Img/Hotel-moob/hotel-main-mob2-1x.jpg"
                        alt=""
                        width="194"
                        height="194"
                      />
                    </picture>
                  </li>
                </ul>
              </div>
              <div class="wrapper-btns-list">
                <ul class="arrow-btns">
                  <li>
                    <button class="arrow-btn">
                      <svg width="32" height="32" class="arrow-btn-icon">
                        <use href="../Img/icons.svg#icon-arrow-left"></use>
                      </svg>
                    </button>
                  </li>
                  <li>
                    <button class="arrow-btn">
                      <svg width="32" height="32" class="arrow-btn-icon">
                        <use href="../Img/icons.svg#icon-arrow-right"></use>
                      </svg>
                    </button>
                  </li>
                </ul>
              </div>
            </div>

            <div>
              <ul class="accept-btns">
                <li>
                  <a href="Посилання-заглушка">
                    <button class="accept-btn">Детальніше</button></a
                  >
                </li>
                <li><button class="accept-btn">Переглянути ціни</button></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
