<section class="section section-table">
    <div class="conteiner-table">
        <div class="table-conteiner">
            <div class="table-text">
                <h3 class="table-logo">MIMINO</h3>
                <h2 class="table-title">Ресторан</h2>
                <p class="table-paragraf">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
            </div>
        </div>    
        <div class="conteiner-table table-image">
            <ul class="table-list">
                <li class="table-list-item">
                    <picture class="table-img">
                        <source srcset="./Img/Homepage/Homepage-main5-1x.jpg 1x, ./Img/Homepage/Homepage-main5-2x.jpg 2x"
                        media="(min-width: 1280px)"
                        width="270">
                        <source srcset="./Img/Homepage-tablet/Homepage-main-tablet5-1x.jpg 1x, ./Img/Homepage-tablet/Homepage-main-tablet5-2x.jpg 2x"
                        media="(min-width: 1024px)"
                        width="270">
                        <source srcset="./Img/Homepage-mob/Homepage-main-mob4-1x.jpg 1x, ./Img/Homepage-mob/Homepage-main-mob4-2x.jpg 2x"
                        media="(min-width: 320px)"
                        width="274">        
                        <img src="./Img/Homepage-mob/Homepage-main-mob4-1x.jpg" alt="interier"
                        width="274" height="270">
                    </picture>
                </li>
                <li class="table-list-item">
                    <picture class="table-img im1">            
                        <source srcset="./Img/Homepage/Homepage-main6-1x.jpg 1x, ./Img/Homepage/Homepage-main6-2x.jpg 2x"
                        media="(min-width: 1280px)"
                        width="162">
                        <source srcset="./Img/Homepage-tablet/Homepage-main-tablet6-1x.jpg 1x,./Img/Homepage-tablet/Homepage-main-tablet6-2x.jpg 2x"
                        media="(min-width: 1024px)"
                        width="162">
                        <source srcset="./Img/Homepage/Homepage-main6-1x.jpg 1x, ./Img/Homepage/Homepage-main6-2x.jpg 2x"
                        media="(min-width: 320px)"
                        width="162">
                        <img src="./Img/Homepage/Homepage-main6-1x.jpg" alt="interier"
                        width="162" height="270">
                    </picture>
                </li>
                <li class="table-list-item">
                    <picture class="table-img im">        
                        <source srcset="./Img/Homepage/Homepage-main7-1x.jpg 1x, ./Img/Homepage/Homepage-main7-2x.jpg 2x"
                        media="(min-width: 1280px)"
                        width="270">
                        <source srcset="./Img/Homepage-tablet/Homepage-main-tablet7-1x.jpg 1x, ./Img/Homepage-tablet/Homepage-main-tablet7-2x.jpg 2x"
                        media="(min-width: 1024px)"
                        width="162">
                        <img src="./Img/Homepage/Homepage-main7-1x.jpg" alt="interier"
                        width="62" height="270">
                    </picture>
                </li>
            </ul>        
        </div>
        <div class="conteiner-table conteiner-tab">
            <ul class="table-list svg-tab">
                <li class="table-list-item">
                    <svg class="icon-tab" width="30" height="17">
                       <use href="./Img/icons.svg#icon-left"></use>
                    </svg>
                </li>
                <li class="table-list-item">
                    <svg class="icon-tab" width="30" height="17">
                      <use href="./Img/icons.svg#icon-right"></use>
                    </svg>
                </li>
            </ul>
        </div>
        <div class="conteiner-table table-button">
            <ul class="table-list tab-list-but">
                <li class="table-list-item"><button class="modal-tab-btn js-open-modal" type="button" data-modal="1">Забронювати столик</button></li>
                <li class="table-list-item"><button class="modal-tab-btn"><a  href="./restaurant.html">Переглянути меню</a></button></li>
            </ul>
        </div>
    </div>
    
</section>