<section class="section">
    <h3>MIMINO</h3>
    <h2>Ресторан</h2>
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
    <svg width="30" height="17">
        <use href="../Img/icons.svg#icon-left"></use>
    </svg>
    <svg width="30" height="17">
        <use href="../Img/icons.svg#icon-right"></use>
    </svg>
    <button type="button">Забронювати столик</button>
    <button type="button">Переглянути меню</button>
</section>