<section class="section">
    <div>
        <h3>MIMINO</h3>
    <h2>Ресторан</h2>
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
    </div>
    <div>
        <ul>
            <li>
                <picture>
        <source srcset="../Img/Homepage-mob/Homepage-main-mob4-1x.jpg 1x, ../Img/Homepage-mob/Homepage-main-mob4-2x.jpg 2x"
        media="(min-width: 320px)">
        <source srcset="../Img/Homepage-tablet/Homepage-main-tablet5-1x.jpg 1x, ../Img/Homepage-tablet/Homepage-main-tablet5-2x.jpg 2x"
        media="(min-width: 414px)">
        <source srcset="../Img/Homepage/Homepage-main5-1x.jpg 1x, ../Img/Homepage/Homepage-main5-2x.jpg 2x"
        media="(min-width: 1200px)">
        <img src="../Img/Homepage/Homepage-main5-1x.jpg" alt="interier"
        width="270" height="270">
        </picture>
    </li>
            <li>
                <picture>
                <source srcset="../Img/Homepage-tablet/Homepage-main-tablet6-1x.jpg 1x, ../Img/Homepage-tablet/Homepage-main-tablet6-2x.jpg 2x"
        media="(min-width: 414px)">
        <source srcset="../Img/Homepage/Homepage-main6-1x.jpg 1x, ../Img/Homepage/Homepage-main6-2x.jpg 2x"
        media="(min-width: 1200px)">
        <img src="../Img/Homepage/Homepage-main6-1x.jpg" alt="interier"
        width="182" height="270">
        </picture>
    </li>
            <li>
                <picture>
        
        <source srcset="../Img/Homepage-tablet/Homepage-main-tablet7-1x.jpg 1x, ../Img/Homepage-tablet/Homepage-main-tablet7-2x.jpg 2x"
        media="(min-width: 414px)">
        <source srcset="../Img/Homepage/Homepage-main7-1x.jpg 1x, ../Img/Homepage/Homepage-main7-2x.jpg 2x"
        media="(min-width: 1200px)">
        <img src="../Img/Homepage/Homepage-main7-1x.jpg" alt="interier"
        width="270" height="270">
        </picture>
    </li>
        </ul>        
    </div>
     <div>
        <ul>
            <li><button type="button">Забронювати столик</button></li>
            <li><button type="button">Переглянути меню</button></li>
        </ul>
     </div>
</section>