<section class="triple-number">
        
    <div class="container">
       <div class="triple-number-top"></div>
       <ul class="riple-number-top-list">
         <li class="triple-number-top-item">
      <img src="./img/Hotel/hotel-main1-1x.jpg" alt="triple-number-photo"
      srcset="./img/Hotel/hotel-main1-1x.jpg , 
      ./img/Hotel/hotel-main1-2x.jpg  "
      >
         </li>
       </ul>
 
       <div class="triple-number-top-wrap">
 
         <p class="triple-number-pre-title">
             Amet minim mollit non
         </p>
          <h2 class="triple-number-logo">MIMIHO</h2>
       
         <h3 class="triple-number-title">
             ТРЬОХМІСНИЙ НОМЕР
         </h3>
         <p class="triple-number-after-title">
             Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
              Velit officia consequat duis enim velit mollit.
               Exercitation veniam consequat sunt nostrud amet.
         </p>
       </div>
       </div>

       <div class="container triple-number-buttom">

           <div class="triple-number-buttom-wrap">
               <button type="button" class="triple-number-buttons">Детальніше</button>
               <button type="button" class="triple-number-buttons">Переглянути ціни</button>
              
           </div>

        <div class="triple-img-wrap"> 
            <ul class="triple-number-images">
            <li class="triple-number-min-images">
            <img src="./img/Hotel/hotel-main2-1x.jpg" alt="bath-photo"
            srcset="./img/Hotel/hotel-main2-1x.jpg,
            ./img/Hotel/hotel-main2-2x.jpg">
            </li>
            <li class="triple-number-min-images">
                <img src="./img/Hotel/hotel-main3-1x.jpg" alt="tea-photo"
                srcset="./img/Hotel/hotel-main3-1x.jpg,
                ./img/Hotel/hotel-main3-2x.jpg">     
            </li>
        </ul>

        <div class=" triple-wrapper-btns-list">
             <ul class="triple-arrow-btns">
             <li>
                <button class="triple-arrow-btn">
                 <svg width="32" height="32" class="triple-arrow-btn-icon">
                   <use href="./Img/icons.svg#icon-arrow-left"></use>
                 </svg>
                </button>
             </li>
             <li>
                <button class="triple-arrow-btn">
                 <svg width="32" height="32" class="triple-arrow-btn-icon">
                   <use href="./Img/icons.svg#icon-arrow-right"></use>
                 </svg>
                </button>
              </li>
              </ul>
         </div>
        </div>

       </div>

    </div>

   </section>