
/* =====ЗАГАЛЬНІ ЗНАЧЕННЯ====== */

body {
    font-family: 'Montserrat', sans-serif;
    color: #7A7A7A;
    background-color: #FFFDEE;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
}

/* знімає декорацію списків */

.list {
    list-style: none;
}

/* -------------------------- */

/* знімає декорацію силок */

.link {
    text-decoration: none;
}

/* -------------------------- */

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.subtitle {
    font-family: 'Tinos', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    color: #000000;
    margin-bottom: 16px;
}

.subject {
    font-family: 'Tinos', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    color: #000000;
    margin-bottom: 16px;
}

.control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn {
    color: #FFFFFF;
    background: #000000;
    border: 1px solid #F3C653;
    border-radius: 25px;

    font-weight: 500;
    font-size: 19px;
    line-height: 1.2;
    padding: 20px 43px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
    background-color: #F3C653;
    border: 1px solid #F3C653;
    border-radius: 25px;

    color: #000000;
}

.return {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #C79002;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.return-arrow {
    fill: #C79002;
    margin-left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.return:hover {
    color: #F3C653;
}

.return:hover>.return-arrow {
    fill: #F3C653;
}

/*====== АДАПТИВКА ДЛЯ МОБІЛКИ======== */

@media screen and (min-width: 320px) {
    .container {
        max-width: 414px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }

    .info-list {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .box {
        padding: 0 0 32px 0;
    }

    .subject {
        padding-top: 32px;
    }

    .subject-text {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }

    .info-text {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;

    }

    .subtitle-text {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }


    .info-items {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

}

@media screen and (min-width: 320px) and (max-width: 413px) {
    .subject {
        font-size: 16px;
        line-height: 1.25;
    }

    .subject-text {
        font-size: 14px;
        line-height: 1.25;
    }

    .subtitle {
        font-size: 16px;
        line-height: 1.25;
    }

    .info-text {
        font-size: 14px;
        line-height: 1.25;
    }

    .subtitle-text {
        font-size: 14px;
        line-height: 1.25;
    }

    .btn {
        font-size: 13px;
        line-height: 1.1;
    }

    .return {
        font-size: 13px;
        line-height: 1.1;
    }
}

/* ========АДАПТИВКА ДЛЯ ТАБЛЕТА ============*/

@media screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 47px 0 47px;
    }

    .subject {
        padding-top: 50px;
    }

    .info-items {
        flex-direction: row;
        gap: 50px;
    }

    .subject-text {
        max-width: 757px;
    }

    .info-text {
        max-width: 400px;
    }

    .subtitle-text {
        max-width: 400px;
    }


    .control {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 24px;
    }
}

/* =======АДАПТИВКА ДЛЯ ДЕСКТОПА====== */

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 199px 0 85px;
    }

    .subject {
        padding-top: 48px;
    }

    .info-items {
        gap: 159px;
    }
}