/* =====ЗАГАЛЬНІ ЗНАЧЕННЯ====== */

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container-amenities {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.box-amenities{
    background-color: var(--light-background-color);
}

.info-list{
    margin-bottom: 40px;
}

.subtitle {
    font-family: 'Times New Roman', serif-sarif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    color:var(--black-text-color);
    margin-bottom: 16px;
}

.info-text {
    color: var(--body-text-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
}

.subject {
    font-family: 'Times New Roman', serif-sarif;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    color:var(--black-text-color);
    margin-bottom: 16px;
}

.subject-text {
    color: var(--body-text-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
}

.subtitle-text{
    color: var(--body-text-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;

}

.control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 48px;
    /* margin-right: 114px; */
}

.btn {
    color:var(--white-background-color);
    background:var(--black-text-color);
    border: 1px solid var(--accent-yellow-color);
    border-radius: 25px;

    font-weight: 500;
    font-size: 19px;
    line-height: 1.2;
    padding: 20px 43px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: color var(--transition), border-color var(--transition), background-color var(--transition);
}

.btn:hover,
.btn:focus {
    background-color: var(--accent-yellow-color);
    border: 1px solid var(--accent-yellow-color);
    border-radius: 25px;

    color:var(--black-text-color);
}

.return {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--brown-text-color);

    display: flex;
    justify-content: center;
    align-items: center;
    transition: color var(--transition);
}

.return-arrow {
    fill: var(--brown-text-color);
    margin-left: 16px;
    transition: fill var(--transition);
}

.return:hover {
    color:var(--accent-yellow-color);
}

.return:hover>.return-arrow {
    fill: var(--accent-yellow-color);
}

/*====== АДАПТИВКА ДЛЯ МОБІЛКИ======== */

@media screen and (min-width: 320px) {
    .container-amenities {
        max-width: 414px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }

    .info-list {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .subject {
        padding-top: 32px;
    }

    .subject-text {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }

    .info-text {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;

    }

    .subtitle-text {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }


    .info-items {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .btn {
        min-width: 384px;
    }
    
    .return {
        min-width: 384px;   
    }
    

}

/* @media screen and (min-width: 320px) and (max-width: 413px) {
    .subject {
        font-size: 16px;
        line-height: 1.25;
    }

    .subject-text {
        font-size: 14px;
        line-height: 1.25;
    }

    .subtitle {
        font-size: 16px;
        line-height: 1.25;
    }

    .info-text {
        font-size: 14px;
        line-height: 1.25;
    }

    .subtitle-text {
        font-size: 14px;
        line-height: 1.25;
    }

    .btn {
        font-size: 13px;
        line-height: 1.1;
    }

    .return {
        font-size: 13px;
        line-height: 1.1;
    }
} */

/* ========АДАПТИВКА ДЛЯ ТАБЛЕТА ============*/

@media screen and (min-width: 1024px) {
    .container-amenities {
        max-width: 1024px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 47px 0 47px;
    }

    .subject {
        padding-top: 50px;
    }

    .info-items {
        flex-direction: row;
        gap: 50px;
    }

    .subject-text {
        max-width: 757px;
    }

    .info-text {
        max-width: 400px;
    }

    .subtitle-text {
        max-width: 400px;
    }


    .control {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: 24px;
    }

    .btn {
        font-size: 24px;
        line-height: 1.2;
        padding: 18px 38px;
        min-width: 434px;
    }

    .return {
        font-size: 20px;
        line-height: 1.2;
        min-width: 434px;
    }
}

/* =======АДАПТИВКА ДЛЯ ДЕСКТОПА====== */

@media screen and (min-width: 1280px) {
    .container-amenities {
        max-width: 1280px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        /* padding: 0 85px 0 85px; */
    }

    .subject {
        padding-top: 48px;
    }

    .info-items {
        gap: 159px;
    }

    .btn {
        margin-right: 170px;
    }
    
    .return{
        margin-right: 170px;
    }
}