@font-face {
    font-family: FilmP3;
    src: url(../fonts/FilmP3.ttf);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

ul {
    margin: 0;
    padding-left: 0;
}


.header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: transparent;
    display: flex;
    align-items: center;
    position: absolute;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-list-contact {
    display: flex;
    align-items: center;
}



/* .restorant-tel-and-pic {
    display: flex;
    align-items: center;
} */
/* 
.hotel-tel-and-pic {
    display: flex;
    align-items: center;
} */



.logo {
    Font-family: FilmP3;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    color: var(--light-logo-color);
}

.link-to-restourant {
    Font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-yellow-color);
}

.link-to-hotel {
    Font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-yellow-color);
}

.header-restorant-tel-number,
.header-hotel-tel-number {
    Font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: var(--light-logo-color);
}

.instagram-header,
.facebook-header,
.telegram-header,
.restorant-tel,
.restorant-tel-mobile,
.hotel-tel,
.hotel-tel-mobile {
    fill: var(--accent-yellow-color);
}

@media screen and (min-width:414px) {
    .conteiner {
        width: 379px;
        margin-left: auto;
        margin-right: auto;
    }

    .logo {}

    .restorant-tel-and-pic {
        display: none;
    }

    .hotel-tel-and-pic {
        display: none;
    }

    .header-soc-linc {
        display: none;
    }

    .logo {
        margin-right: 52px;
    }
    
}

@media screen and (min-width:1024px) {
    .conteiner {
        width: 930px;
        margin-left: auto;
        margin-right: auto;
    }

    .logo {
        margin-right: 207px;
    }

    .restorant-tel-svg {
        display: flex;
        align-items: center;
    }

    .hotel-tel-svg {
        display: flex;
        align-items: center;
    }

    .restorant-tel-and-pic {
        display: flex;
        align-items: center;
        outline: 1px solid var(--accent-yellow-color);
        border-radius: 2px;
    }

    .hotel-tel-and-pic {
        display: flex;
        align-items: center;
        outline: 1px solid var(--accent-yellow-color);
        border-radius: 2px;
    }

    .restorant-tel-mobile {
        display: none;
    }

    .hotel-tel-mobile {
        display: none;
    }

    .logo {
        margin-right: 207px;
    }

    .link-to-restourant {
        margin-right: 40px;
    }

    .restorant-tel-and-pic {
        margin-right: 50px;
    }

    .header-restorant-tel-number,
    .header-hotel-tel-number {
        width: max-content;
    }

    .hotel-tel-svg,
    .restorant-tel-svg {
        margin: 6px;
    }

    .restorant-tel-and-pic {
        margin-right: 50px;
    }

    .link-to-hotel {
        margin-right: 40px;
    }
}

@media screen and (min-width:1280px) {
    .header-soc-linc {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 23px;
    }

    .conteiner {
        width: 1110px;
        margin-left: auto;
        margin-right: auto;
    }

    .logo {
        margin-right: 135px;
    }

    .link-to-restourant {
        margin-right: 46px;
    }

    .link-to-hotel {
        margin-right: 46px;
    }

    .restorant-tel-and-pic {
        margin-right: 50px;
    }

    .hotel-tel-and-pic {
        margin-right: 100px;
    }

    .header-restorant-tel-number,
    .header-hotel-tel-number {
        width: max-content;
    }

    .hotel-tel-svg,
    .restorant-tel-svg {
        margin: 6px;
    }
}