@font-face {
    font-family: FilmP3;
    src: url(../fonts/FilmP3.ttf);
}

.header-container,
.sec-container {
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: transparent;
    position: absolute;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    align-items: baseline;
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.logo {
    Font-family: FilmP3;
    Font-weight: 700;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    color: var(--light-logo-color);
    margin-right: 135px;
}

.header-list {
    display: flex;
    align-items: center;
}

.header-item-phone {
    fill: var(--accent-yellow-color);
}

.header-item-restorant {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-yellow-color);
    margin-right: 40px;
}

.header-item-hotel {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--accent-yellow-color);
    margin-right: 40px;
}

.restorant-tel-svg {
    display: flex;
    align-items: center;
    fill: var(--accent-yellow-color);
    outline: 1px solid var(--accent-yellow-color);
    border-radius: 2px;
    margin-right: 75px;
    padding: 6px;
}

.restorant-tel-svg:hover,
.restorant-tel-svg:focus,
.header-list-contac-item-one:hover,
.header-list-contac-item-one:focus,
.header-contact:focus,
.header-contact:hover,
.instagram-header:hover,
.instagram-header:focus {
    fill: var(--light-logo-color);
    color: var(--light-logo-color);
}

.header-restorant-tel-number {
    width: 120px;
    color: var(--light-logo-color);
}

.header-item:last-child {
    margin-right: 0;
}



.header-link:hover,
.header-link:focus {
    color: var(--white-background-color);
    transition: var(--transition);
}


.header-list-contact {
    display: flex;
}

.header-list-contac-item-one {
    margin-right: 23px;
}

.instagram-header {
    fill: #F3C653;
}




@media screen and (min-width:280px) {
    .header-list-contact {
        display: none;
    }

    .logo {
        margin-right: auto;
    }

    .header-item {
        display: none;
    }

    .header-item-phone {
        display: block;
        margin-right: auto;
    }

    .header-item-restorant {
        margin-right: auto;
    }

    .header-item-hotel {
        margin-right: auto;
    }

}


@media screen and (min-width:414px) {
    .header-list-contact {
        display: none;
    }

    .logo {
        margin-right: 48px;
    }

    .header-item {
        display: none;
    }

    .header-item-phone {
        display: block;
        margin-right: 19px;
    }

    .header-item-restorant {
        margin-right: 8px;
    }

    .header-item-hotel {
        margin-right: 8px;
    }

}

@media screen and (min-width:1024px) {
    .header-list-contact {
        display: none;
    }

    .logo {
        margin-right: 207px;
    }

    .header-item {
        display: flex;
    }

    .header-item-phone {
        display: none;
    }
}

@media screen and (min-width:1280px) {
    .header-list-contact {
        display: flex;
    }

    .logo {
        margin-right: 135px;
    }

    .header-item {
        display: flex;
    }

    .header-item-phone {
        display: none;
    }
}