@font-face {
    font-family: FilmP3;
    src: url(../fonts/FilmP3.ttf);
}

.first-sec {
    max-width: 1440px;
    height: 720px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../Img/Homepage/Homepage-hero1-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.first-sec-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    align-content: center;
    align-items: center;
    color: aqua;
}