@font-face {
  font-family: FilmP3;
  src: url(../fonts/FilmP3.ttf);
}

.hero-pin-adres-mobile {
  display: flex;
  align-items: center;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
  width: 190px;
  height: 45px;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #e5e5e5;
  padding: 5px;
}

.hero-pin-tu-map {
  margin-right: 13px;
}

.hero-first-sec {
  padding-top: 80px;
  padding-bottom: 100px;
  max-width: 1440px;
  height: 720px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../Img/Homepage-mob/Homepage-hero-mob1-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-sec-container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.hero-map-for-mobile-only {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 70px;
}

.hero-first-sec-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hero-pin-adres,
.hero-pin-adres-mobile {
  fill: var(--accent-yellow-color);
}

.hero-text-whid-pin {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #e5e5e5;
}

.hero-first-sec-title {
  margin-left: 40px;
  font-family: FilmP3;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: var(--white-text-color);
}

.hero-first-sec-paragraf {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--white-text-color);
}

.hero-first-sec-paragraf-two {
  font-family: Times New Roman;
  font-style: normal;
  font-weight: 700;
  font-size: 29px;
  line-height: 1.15;
  letter-spacing: 0.05em;
  color: var(--white-text-color);
}

.hero-buttum-tible,
.hero-buttum-number {
  width: 258px;
  height: 48px;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #ffffff;
  border-radius: 25px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--accent-yellow-color);
}

.hero-map-and-btn-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 85px;
  margin-right: 85px;
}

.hero-buttums-list {
  display: flex;
}

.instagram,
.facebook,
.telegram {
  fill: var(--accent-yellow-color);
}

.instagram:hover,
.instagram:focus {
  fill: var(--white-text-color);
}

.facebook:hover,
.facebook:focus {
  fill: var(--white-text-color);
}

.telegram:hover,
.telegram:focus {
  fill: var(--white-text-color);
}

.hero-buttum-tible:hover,
.hero-buttum-tible:focus {
  background: var(--white-text-color);
  border: 2px solid var(--accent-yellow-color);
}

.hero-buttum-number:hover,
.hero-buttum-number:focus {
  background: var(--white-text-color);
  border: 2px solid var(--accent-yellow-color);
}

.hero-pin-adres:hover {
  fill: var(--white-text-color);
  border: 1px solid var(--white-text-color);
  border-radius: 2px;
}

@media screen and (min-width: 320px) {
  .hero-map-for-mobile-only {
    margin-right: 15px;
  }
  .hero-sec-container {
    text-align: center;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .hero-map-and-btn-sec {
    margin-top: 110px;
    justify-content: center;
  }

  .hero-soc-list {
    display: flex;
    margin-left: 16px;
    gap: 23px;
    margin-top: 45px;
  }

  .hero-pin-adres {
    display: none;
  }

  .hero-buttums-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  /* .hero-pin-adres-mobile {
        display: flex;
        align-items: center;
        border: 1px solid rgba(243, 198, 83, 0.7);
        border-radius: 2px;
        width: 210px;
        height: 47px;
    } */

  /* .hero-pin-adres-mobile .hero-text-whid-pin-moblie {
        color: var(--accent-yellow-color);
     } */

  .hero-text-whid-pin-moblie {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: #e5e5e5;
  }

  .hero-first-sec-paragraf {
    margin-top: 24px;
  }

  .hero-first-sec-paragraf-two {
    margin-top: 40px;
  }
}

@media screen and (min-width: 414px) {
  /* .hero-pin-adres-mobile {
    width: 209px;
    height: 45px;
    font-size: 12px;
    padding: 9px;
  } */

  .hero-pin-tu-map {
    margin-right: 12px;
  }

  .hero-map-and-btn-sec {
    margin-top: 98px;
    justify-content: center;
  }

  .hero-first-sec-paragraf {
    font-size: 16px;
  }

  .hero-first-sec-paragraf-two {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-pin-adres-mobile {
    width: 209px;
    height: 45px;
    font-size: 12px;
    padding: 9px;
  }

  .hero-pin-tu-map {
    margin-right: 12px;
  }

  .hero-first-sec {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../Img/Homepage-tablet/Homepage-hero-tablet1-1x.jpg);
  }

  .hero-sec-container {
    width: 100%;
    padding-top: 164px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .hero-map-and-btn-sec {
    margin-top: 62px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 47px;
    margin-right: 47px;
  }

  .hero-buttums-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
  }

  .hero-soc-list {
    display: flex;
    margin-left: 47px;
    gap: 23px;
    margin-top: 28px;
  }

  .hero-pin-adres,
  .hero-pin-adres-mobile {
    display: flex;
    align-items: center;
    gap: 0px;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
    width: 285px;
    height: 54px;
    font-size: 16px;
    line-height: 1.22;
    letter-spacing: 0.01em;
    color: #e5e5e5;
    padding: 5px;
  }

  .hero-map-for-mobile-only {
    display: none;
  }

  .hero-first-sec-title {
    font-family: FilmP3;
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 1.078;
    letter-spacing: 0.3em;
    color: var(--white-text-color);
  }

  .hero-first-sec-paragraf {
    margin-top: 32px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--white-text-color);
  }

  .hero-first-sec-paragraf-two {
    margin-top: 64px;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.138;
    letter-spacing: 0.05em;
    color: var(--white-text-color);
  }

  /* .hero-soc-list {
    display: flex;
    margin-left: 16px;
    gap: 23px;
  } */
}

@media screen and (min-width: 1280px) {
  .hero-first-sec {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(../Img/Homepage/Homepage-hero1-1x.jpg);
  }

  .hero-sec-container {
    width: 100%;
    padding-top: 164px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }

  .hero-first-sec-title {
    font-family: FilmP3;
    font-style: normal;
    font-weight: 700;
    font-size: 128px;
    line-height: 1.078;
    letter-spacing: 0.3em;
    color: var(--white-text-color);
  }

  .hero-first-sec-paragraf {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--white-text-color);
  }

  .hero-first-sec-paragraf-two {
    font-family: Times New Roman;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.138;
    letter-spacing: 0.05em;
    color: var(--white-text-color);
  }

  .hero-soc-link {
    display: none;
  }

  .hero-buttums-list {
    display: flex;
    gap: 60px;
  }
}
