@font-face {
    font-family: FilmP3;
    src: url(../fonts/FilmP3.ttf);
}


.first-sec-restoraunt {
    max-width: 1440px;
    height: 720px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../Img/Restaurant-mob/restaurant-hero-mob1-1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


@media screen and (min-width:414px) {

   
}


@media screen and (min-width:1024px) {
    .first-sec-restoraunt {
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
            url(../Img/Restaurant-tablet/restaurant-hero-tablet1-1x.jpg);
    }

    
}

@media screen and (min-width:1280px) {
    .first-sec-restoraunt {
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
            url(../Img/Restaurant/restaurant-hero1-1x.jpg);
    }

   
}