

/* Map */
html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
ul,h1,h2,h3,p{
    margin:0 0;
    padding:0 0;
}

/* ---------- Map ----------- */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} 
.map {
width:100%;
padding-top: 36px;
padding-bottom: 32px;
background-color: #FFFDEE;
}
.section {
    display: block;
}
/*
@media screen and (min-widht: 414px) { 
.cont {
    padding-right: 47px;
    padding-left: 47px;
}
.cont {    
    display: flex;
    flex-direction: column;   
}
}
*/
.win {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.w {
    display: flex;
    /*align-self: flex-end;*/
    flex-direction: column;
    align-items: flex-start;
    overflow-x: hidden;
}
.name {
margin-bottom: 12px;
font-family: FilmP3;
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 1.08;
letter-spacing: 0.3em;
color: #494848;
}
.h2 {
margin: 0;
padding: 0;
display: block;
margin-block-start: 0.83em;
margin-block-end: 0.83em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
.k {
margin-bottom: 24px;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.02em;
color: #7A7A7A;
}
.h3 {
margin: 0;
padding: 0;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}
.d {
    text-decoration:none;
    display: flex;
    flex-direction: column;
}
.sp {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    column-gap: 16px;
    text-decoration:none;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul {
    list-style: none;
    padding-left: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.l {
    /* width: 100%; */
    /* margin-right: 30px; */
}
.li {
    display: list-item;
    text-align: match-parent;
}
.tel {
text-decoration:none;
display: flex;
justify-content: space-between;
align-items: center;
}
.restorant {
    text-decoration:none;
    margin-right: 8px ;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgb(199, 144, 2);
}
    .t {
        text-decoration:none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.02em;
        color: rgb(73, 72, 72);
}
.t svg {
    width: 24px;
    height: 24px;
    color: rgb(199, 144, 2);
}
.svg {
    stroke: currentcolor;
    fill: currentcolor;
    stroke-width: 0px;
    height: 1em;
    width: 1em;
}
.svg:not(:root) {
    overflow-x: hidden;
    overflow-y: hidden;
}
.path {
    fill-rule: evenodd;
    clip-rule: evenodd;
    }
/*:not(svg) {
    transform-origin-x: 0px;
    transform-origin-y: 0px;
    transform-box: view-box;
    }*/
    .t svg {
        width: 24px;
        height: 24px;
        color: rgb(199, 144, 2);
        }
.svg {
        stroke: currentcolor;
        fill: currentcolor;
        stroke-width: 0px;
        height: 1em;
        width: 1em;
        }
.svg:not(:root) {
        overflow-x: hidden;
        overflow-y: hidden;
        }
.t span:not(:first-child) {
    margin-right: 8px;
}
.t span {
display: inline-block;
} 
.a:any-link {
    text-decoration: underline;
    cursor: auto;
}  
.hot {
    width: 100%;
    }
.li {
    display: list-item;
    text-align: match-parent;
    }
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    white-space: pre;
    text-transform: none;
    }
.te {
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.thotel {
    text-decoration:none;
    margin-right: 8px;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: rgb(199, 144, 2);
}
.a {
    text-decoration: none;
}
.mh {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-right: 8px;
    padding-left: 11px;
    border-top-width: 0.5px;
    border-right-width: 0.5px;
    border-bottom-width: 0.5px;
    border-left-width: 0.5px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(243, 198, 83);
    border-right-color: rgb(243, 198, 83);
    border-bottom-color: rgb(243, 198, 83);
    border-left-color: rgb(243, 198, 83);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: rgb(255, 255, 255);
}
.ah {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: rgb(73, 72, 72);
    text-decoration: none;
}
.ah svg {
    width: 24px;
    height: 24px;
    color: rgb(199, 144, 2);
}
.svg {
    stroke: currentcolor;
    fill: currentcolor;
    stroke-width: 0px;
    height: 1em;
    width: 1em;
}
.svg:not(:root), symbol, image, marker, pattern, foreignObject {
    overflow-x: hidden;
    overflow-y: hidden;
}
.path {
    fill-rule: evenodd;
    clip-rule: evenodd;
}
/*:not(svg){
    transform-origin-x: 0px;
    transform-origin-y: 0px;
    transform-box: view-box;
}*/
.ah span:not(:first-child) {
    margin-right: 8px;
}
.ah span {
    display: inline-block;
}
.dp {
    align-self: flex-end;
    }
.div {
    display: block;
    }
.adressa {
        display: flex;   
        align-items: center;  
        justify-content: center;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-style: solid;
        border-right-style: solid;
        border-bottom-style: solid;
        border-left-style: solid;
        border-top-color: rgba(243, 198, 83, 0.7);
        border-right-color: rgba(243, 198, 83, 0.7);
        border-bottom-color: rgba(243, 198, 83, 0.7);
        border-left-color: rgba(243, 198, 83, 0.7);
        border-image-source: initial;
        border-image-slice: initial;
        border-image-width: initial;
        border-image-outset: initial;
        border-image-repeat: initial;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 2px;
        background-color: rgb(255, 255, 255);
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 8px;
        padding-right: 33px;
}
.adsp > svg {
    color: rgb(243, 198, 83);
    width: 24px;
    height: 24px;
    margin-right: 8px;
    z-index: -1;
}
.tm {
    display: inline-block;
    max-width: 183px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.01em;
    color: rgb(73, 72, 72);
    }
.kmap {
    width: 100%;
    height: 220px;
    margin-top: 32px;
    box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 70px 17px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(186, 186, 186);
    border-right-color: rgb(186, 186, 186);
    border-bottom-color: rgb(186, 186, 186);
    border-left-color: rgb(186, 186, 186);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    }
.div {
    display: block;       
}

/*---- class map-e kmap ---*/
.mapboxgl-canvas {
    left: 0;
    position: absolute;
    top: 0;
    }
.map-responsive {
    left: 0;
    top: 0;
    height: 220px;
    width: 100%;
    overflow: hidden;
}
@media  screen and (min-width:480px) {
    .container{
    max-width: 458px;
    }
    }
    /*@media screen and (min-widht: 414px) { 
        .cont {
            padding-right: 47px;
            padding-left: 47px;
        }
        .cont {    
            display: flex;
            flex-direction: column;   
        }
        }*/

        @media screen and (min-width:768px) {
            .container {
            max-width: 768px;
            }
            }
            /*
            .menu-open-button,
            .menu-open {
            display: none;
            }
            .navigation .ulists {
            display: flex;
            }
            .content .link {
            display: block;
            padding-top: 24px;
            padding-bottom: 24px;
            }
            .link.nav.current {
            position: relative;
            }   
            .link.nav.current::after {
            content: '';
            height: 4px;
            width: 100%;
            display: block;
            background-color: var(--primary-brand);
            border-radius: 2px;
            position: absolute;
            bottom: 0;
            }
            .ulists.info {
            display: inline-block;
            }
            .hero-title{
            font-size: 56px;
            }
            .section.hero {
            padding:112px 137px 108px;
             background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office-tablet.jpg');
            }
            @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            .section.hero {
            background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office-tablet-2x.jpg');
            }
            }
            .ulists.advantages {
            column-gap: 24px;
            row-gap: 72px;
            }
            .advantages .text-content {
            width: 356px;
            }
            .our-advantages {
            text-align: left;
            }
            .team-list {
            row-gap: 64px;
            column-gap: 24px;
            }
            .section {
            padding-top: 98px;
            padding-bottom: 98px;
            }
            .team-section.section {
            padding-bottom: 108px;
            }
            .our-customers-list {
            column-gap: 24px;
            }
            .customer-item {
            width: calc((100% - 48px) / 3);
            max-width: 169px;
            }
            /*--- footer ---
            .footer-conteiner{
            padding-left: 108px;
            padding-right: 108px;
            justify-content: left;
            }
            .footer > .container {
            column-gap: 24px;
            row-gap: 72px;
            }
            .input-footer{
            width: 265px;
            }
            .logo.logo-white{
            text-align: left;
            }
            .sotial-text {
            text-align: left;
            }
            .footer-form {
            flex-wrap: nowrap;
            column-gap: 24px;
            margin-top: 16px;
            }
            .footer-submit{
            margin-top: 0px;
            }
            }
            @media screen and (min-width:768px) and (max-width:1199px){
            .header-container {
            align-items: end;
            }
            .info .link {
            padding: 0px;
            font-size: 12px;
            line-height: 1.33;
            }
            .ulists.info {
            display: flex;
            flex-direction: column;
            row-gap: 4px;
            margin-bottom: 10px;
            }
            }
            */
            @media screen and (min-width:1200px) {
.container {
    max-width: 1152px;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
}
/*
.ulists.info {
    display: flex;
}
.navigation .ulists {
    display: flex;
}
.section.hero {
    padding:  188px 0;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office-desktop.jpg');
}
@media (min-device-pixel-ratio: 2),
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .section.hero {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office-desktop-2x.jpg');
    }
}
.text-content {
    font-weight: 400;
}
.our-advantages {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.11;
}
.advantages .text-content {
    width: 264px;
}
.our-advantages {
   margin-top: 8px
}
.section.our-job-section {
    display: block;
    padding-top: 0px;
}
.picture {
    display: flex;
}
.team-section.section {
    padding-bottom: 120px;
}
.customer-item {
    width: calc((100% - 120px) / 6);
}
 /*--- footer ---   
.footer{
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer > .container{
    justify-content: space-between;
}
.footer-content{
    margin-right: 40px;
}
.footer-conteiner {
    padding-left: 12px;
    padding-right: 12px;
    justify-content: left;
}
}
*/
@media screen and (min-width:1200px) {
    .container {
        max-width: 1152px;
    }
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    }
    /*
    .ulists.info {
        display: flex;
    }
    .navigation .ulists {
        display: flex;
    }
    .section.hero {
        padding:  188px 0;
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office-desktop.jpg');
    }
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .section.hero {
            background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/people-office-desktop-2x.jpg');
        }
    }
    .text-content {
        font-weight: 400;
    }
    .our-advantages {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.11;
    }
    .advantages .text-content {
        width: 264px;
    }
    .our-advantages {
       margin-top: 8px
    }
    .section.our-job-section {
        display: block;
        padding-top: 0px;
    }
    .picture {
        display: flex;
    }
    .team-section.section {
        padding-bottom: 120px;
    }
    .customer-item {
        width: calc((100% - 120px) / 6);
    }
     /*--- footer ---   
    .footer{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .footer > .container{
        justify-content: space-between;
    }
    .footer-content{
        margin-right: 40px;
    }
    .footer-conteiner {
        padding-left: 12px;
        padding-right: 12px;
        justify-content: left;
    }
    }
    */