ul {
  list-style-type: none;
}
.container {
  width: 414px;
  padding: 0px 15px;
  margin: 0 auto;
}
.aor {
  padding-top: 36px;
  padding-bottom: 32px;
}
.aor-title {
  display: none;
}
.aor-logo {
  margin-bottom: 12px;
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: #494848;
}
.aor-pre-title {
  margin-bottom: 16px;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #7a7a7a;
}
.aor-address {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 32px;
}
.aor-rest-contacts,
.aor-hotel-contacts {
  display: flex;
  column-gap: 22px;
  align-items: center;
}
.aor-rest-text,
.aor-hotel-text {
  display: block;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #c79002;
}
.contacts-rest-wrap,
.contacts-hotel-wrap,
.contacts-map-wrap {
  width: 144px;
  height: 40px;
  background-color: #ffffff;
  border: 0.5px solid #f3c653;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;
}
.aor-svgs {
  fill: #c79002;
}
.aor-tel {
  font-family: 'Montserrat';
  font-style: normal;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
  color: #494848;
}

.aor-hotel-contacts {
  column-gap: 54px;
}

.contacts-hotel-wrap {
  width: 260px;
}
.contacts-map-wrap {
  width: 260px;
  height: 76px;
  padding: 8px 33px 7px 10px;
  margin-left: auto;
}
.aor-map-address {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  color: #494848;
  width: 183px;
}

.map-picture {
  display: block;
}
