:root {
    --white-background-color: #ffffff;
    --light-background-color: #fffdee;
    --dark-background-color: #f0ecd6;
    --footer-background-color: #0e0c07;
    --light-logo-color: #ffffff;
    --dark-logo-color: #494848;
    --accent-yellow-color: #f3c653;
    --white-text-color: #ffffff;
    --black-text-color: #000000;
    --body-text-color: #7a7a7a;
    --brown-text-color: #c79002;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-rest {
    width: 384px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    padding: 0, 15px;
    list-style: none;
    box-sizing: border-box;


}


@font-face {
    font-family: FilmP3;
    src: url(/src/fonts/FilmP3.ttf);
}

ul,
ol {
    list-style: none;
}



.section-restaurant {
    background-color: var(--light-background-color);
}

.title-none-rest {
    display: none;
}

.after-logo {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    color: #B4B4B4;
    padding-top: 16px;
    margin-top: 0;
    margin-bottom: 12px;
}

.logo-rest {
    font-family: FilmP3;
    src: url(/src/fonts/FilmP3.ttf);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: #494848;
    margin-bottom: 12px;
    margin-top: 0;
}

.text-rest {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--body-text-color);
    width: 258px;
    margin-bottom: 28px;
}



.list-rest {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    padding-right: 0;
}


.rest-inter {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.inter {
    padding-right: 0;
    width: 244px;
    margin-left: 140px;
}

.im {
    background: #DADADA;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.int-rest {
    max-width: 376px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.inter-text {
    margin-bottom: 32px;
}

.text-to {
    padding-top: 80px;
    margin-left: 20px;
    color: #C79002;
    width: 163px;
}

.rest-slaid {
    display: flex;
    justify-content: center;
}

.bok {
    width: 254px;
    height: 254px;
}

.tab {
    display: none;
}

.svg-rest {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: end;
}

.icon-rest {
    width: 32px;
    height: 32px;
    fill: #000000;
}

.icon-rest:hover,
.icon-rest:focus {
    fill: #F3C653;
}
@media screen and (min-width: 320px) and (max-width: 414px) {
    .container-rest {
        max-width: 384px;
        width: none;
    }
}

@media screen and (min-width: 414px) {
    .container-rest {
        width: 384px;
        min-width: none;
        max-width: none;
    }

    .svg-rest {
        width: 384px;
    }

    .img-rest-inter {
        width: 200px;
    }
}


@media screen and (min-width: 1024px) {
    .container-rest {
        width: 930px;
        min-width: none;
        max-width: none;
    }

    .second {
        background-color: var(--light-background-color);
    }

    .rest-inter {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
    }

    .inter {
        width: 400px;
        height: 524px;
        margin-top: -32px;
        margin-left: 26px;
    }

    .inter-text {
        margin-top: -16px;
    }

    .list-item-rest {
        width: 350px;
    }
    .img-rest-inter {
        width: 350px;
    }


    .image {
        width: 350px;
    }

    .text-rest {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        width: 439px;
        height: 80px;
    }

    .img-bok,
    .img-st {
        width: 194px;
    }

    .text-to {
        max-width: 312px;
        height: 122px;
        margin-top: 124px;
        margin-left: 48px;
    }

    .rest-slaid {
        display: flex;
        gap: 40px;
        justify-content: end;
        margin-bottom: 32px;
    }

    .tab {
        display: block;
    }

    .svg-rest {
        width: 930px;
        justify-content: end;
    }

    .after-logo {
        font-weight: 400;
        font-size: 32px;
        line-height: 1.15;
        letter-spacing: 0.02em;
        color: var(--body-text-color);
    }

    .logo-rest {
        font-size: 64px;
        line-height: 1.08;
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 1280px) {
    .container-rest {
        width: 1110px;
        min-width: none;
        max-width: none;
    }

    .inter {
        width: 460px;
        height: 574px;
        margin-top: -33px;
        margin-left: 37px;
    }

    .after-logo {
        margin-bottom: 4px;
    }

    .text-rest {
        width: 518px;
        height: 60px;
    }

    .inter-text {
        margin-top: -65px;
    }

    .list-item-rest {
        width: 460px;
    }
    .img-rest-inter {
        width: 460px;
    }

    .text-to {
        margin-top: 160px;
    }

    .svg-rest {
        width: 1110px;
        padding-bottom: 50px;
    }

    .rest-slaid {
        margin-top: -179px;
    }

}