/* Styles for Mob version */
picture {
  display: block;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.container {
  max-width: 414px;
  padding: 0px 15px;
  margin: 0 auto;
}

.suite {
  background-color: var(--light-background-color);
}

.suite-wrap {
  padding: 32px 0px;
}

.uppercase {
  text-transform: uppercase;
}

.suite-text {
  margin-bottom: 8px;
  font-family: 'Times New Roman', sans-serif;
  font-size: 20px;
  line-height: 1.15;
  color: #b4b4b4;
}

.suite-logo {
  font-family: 'Film P3', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.07;
  letter-spacing: 0.3em;
  color: #494848;
  margin-bottom: 32px;
}

.suite-title {
  font-family: 'Times New Roman', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 12px;
}

.suite-description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #7a7a7a;
  margin-bottom: 32px;
  max-width: 260px;
}

.suite-main-photo {
  margin-bottom: 32px;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.wrapper-suite-photos {
  margin-bottom: 20px;
  min-height: 194px;
}

.suite-photos-ul {
  overflow: visible;
  display: flex;
  column-gap: 16px;
  transform: translateX(-130px);
  width: 404px;
  height: 194px;
}

.suite-photos-item {
  width: 194px;
  height: 194px;
}

.suite-photo {
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.wrapper-btns-list {
  margin-bottom: 20px;
}

.arrow-btns {
  display: flex;
  column-gap: 32px;
}

.arrow-btn {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  border: none;
  visibility: hidden;
}

.arrow-btn-icon {
  visibility: visible;
  fill: #000000;
  transition: fill 250ms linear;
}

.arrow-btn-icon:hover,
.arrow-btn-icon:focus,
.arrow-btn-icon:active {
  fill: var(--accent-yellow-color);
}

.accept-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 16px;
}

.accept-btn {
  color: var(--accent-yellow-color);
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fffdee;
  border-radius: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  width: 236px;
  height: 48px;
  transition: background-color 250ms linear, color 250ms linear;
}

.accept-btn:hover,
.accept-btn:focus,
.accept-btn:active {
  background-color: var(--accent-yellow-color);
  color: #000000;
}

@media screen and (min-width: 320px) and (max-width: 414px) {
  .suite-main-photo {
    margin-left: auto;
    width: 244px;
  }
}

@media screen and (min-width: 414px) {
  .suite-main-photo {
    margin-left: 140px;
  }
}

/* Styles for tablet */
@media screen and (min-width: 1024px) {
  .container {
    max-width: none;
    width: 960px;
    position: relative;
  }

  .suite {
    background-color: var(--light-background-color);
  }

  .suite-wrap {
    padding-top: 62px;
    padding-bottom: 40px;
  }

  .suite-text {
    font-size: 32px;
    margin-bottom: 4px;
  }

  .suite-logo {
    font-size: 64px;
    margin-bottom: 62px;
  }

  .suite-title {
    font-size: 30px;
    line-height: 1.13;
    margin-bottom: 16px;
  }

  .suite-description {
    font-size: 16px;
    max-width: 440px;
    margin-bottom: 176px;
  }
  .suite-main-photo {
    margin-bottom: 0px;
    margin-left: 0px;
    position: absolute;
    top: -32px;
    right: 80px;
    z-index: 2;
  }
  .wrapper-suite-photos {
    margin-bottom: 20px;
  }

  .wrapper-photos-arrbtns {
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  .suite-photos-ul {
    transform: none;
  }

  .wrapper-btns-list {
    margin-bottom: 0px;
  }

  .arrow-btns {
    justify-content: flex-end;
  }

  .accept-btns {
    flex-direction: column;
    position: absolute;
    top: 581px;
    right: 15px;
  }
}

/* Styles for desktop */
@media screen and (min-width: 1280px) {
  .container {
    width: 1140px;
  }

  .suite-wrap {
    padding-top: 72px;
  }

  .suite-logo {
    margin-bottom: 72px;
  }

  .suite-title {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 1.14;
  }

  .suite-description {
    max-width: 400px;
    margin-bottom: 188px;
  }

  .wrapper-suite-photos {
    margin-bottom: 40px;
  }

  .suite-photos-ul {
    height: min-content;
    column-gap: 40px;
    width: max-content;
    height: max-content;
  }
  .suite-photos-item {
    width: max-content;
    height: max-content;
  }

  .accept-btns {
    top: 662px;
  }

  .suite-main-photo {
    right: 95px;
  }
}
