:root {
  --white-background-color: #ffffff;
  --light-background-color: #fffdee;
  --dark-background-color: #f0ecd6;
  --footer-background-color: #0e0c07;
  --light-logo-color: #ffffff;
  --dark-logo-color: #494848;
  --accent-yellow-color: #f3c653;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --body-text-color: #7a7a7a;
  --brown-text-color: #c79002;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.conteiner-table {
  margin: 0 auto;
}

.section-table {
  padding-top: 24px;
  padding-bottom: 40px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.65);
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/Img/Homepage-mob/Homepage-hero-mob2-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .section-table {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/Img/Homepage-mob/Homepage-hero-mob2-2x.jpg);
  }
}

.table-conteiner {
  padding-left: 15px;
  padding-right: 15px;
}

.cont-tab {
  padding-bottom: 48px;
}

.table-logo {
  font-family: FilmP3, sans-serif;
  src: url(/src/fonts/FilmP3.ttf);
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.08;
  letter-spacing: 0.3em;
  color: var(--white-background-color);
  margin-bottom: 12px;

}

.table-title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
  margin-bottom: 20px;
  margin-left: 0;
}

.table-paragraf {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #BABABA;
  text-align: left;
  width: 259px;
}

.table-image {
  padding-left: 25px;
  padding-bottom: 16px;
}

.table-list {
  display: flex;
  gap: 19px;
}

.table-img {
  width: 100%;
}

.im {
  display: none;
}

.table-but-svg {
  margin: 0 auto;
}

.conteiner-tab {
  padding-bottom: 32px;
  padding-left: 25px;
}

.svg-tab {
  display: flex;
  gap: 32px;
}

.table-button {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.icon-tab {
  width: 32px;
  height: 32px;
  fill: var(--white-background-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.icon-tab:hover,
.icon-tab:focus {
  fill: #F3C653;
}

.tab-list-but {
  display: block;
  width: 248px;
  padding-left: 0;
}

.modal-tab-btn {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--accent-yellow-color);
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid var(--white-background-color);
  border-radius: 25px;
  width: 236px;
  height: 48px;
  padding: 14px 16px;
  display: block;    
  margin-bottom: 16px;
  transition-property: background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  text-align: center;
}



.modal-tab-btn:hover,
.table-menu:hover,
.modal-tab-btn:focus,
.table-menu:focus {
  background: var(--white-background-color);
  border: 2px solid var(--accent-yellow-color);
}



@media screen and (min-width: 320px) and (max-width: 413px) {
  .container-table {
    max-width: 384px;

  }

  .table-text {
    width: 259px;
    margin-right: 0;
  }

}

@media screen and (min-width: 414px) {
  .conteiner-table {
    width: 384px;
  }

  .table-text {
    width: 259px;
    margin-right: 0;
  }

  .cont-tab {
    width: 384px;
  }
}

@media screen and (min-width: 1024px) {
  .table-conteiner {
    padding-left: 47px;
    padding-right: 47px;
  }

  .conteiner-table {
    width: 930px;
  }

  .section-table {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/Img/Homepage-tablet/Homepage-hero-tablet2-1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .section {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/Img/Homepage-tablet/Homepage-hero-tablet2-2x.jpg);
    }
  }

  .table-text {
    max-width: 610px;
    margin-left: 0;
    padding-left: 231px;
  }

  .table-logo {
    font-size: 64px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: var(--white-background-color);
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 16px;
  }

  .table-title {
    font-size: 24px;
    line-height: 1.21;
    margin-top: 0;
    margin-bottom: 8px;

  }

  .table-paragraf {
    width: 610px;
    height: 44px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 40px;
    margin-top: 0;
  }

  .table-list {
    gap: 34px;
    justify-content: end;
  }

  .table-image {
    padding-bottom: 24px;
    padding-left: 0;
  }

  .im {
    display: block;
  }

  .conteiner-tab {
    padding-left: 0;
    padding-bottom: 0;
  }

  .svg-tab {
    width: 96px;
    justify-content: flex-start;
    padding-left: 267px;
  }

  .table-button {
    justify-content: flex-start;
    margin-top: -173px;
    padding-bottom: 77px;
  }

  .item-menu {
    padding-left: 0;
  }
}

@media screen and (min-width: 1280px) {
  .table-conteiner {
    padding-left: 85px;
    padding-right: 85px;
  }

  .conteiner-table {
    width: 1110px;
  }

  .cont-tab {
    max-width: 610px;
    padding-left: 14px;
  }

  .section-table {

    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/Img/Homepage/Homepage-hero2-1x.jpg);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .section {
      background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/Img/Homepage/Homepage-hero2-2x.jpg);
    }
  }

  .table-image {
    padding-left: 275px;
  }

  .table-paragraf {
    margin-bottom: 24px;
  }

  .table-button {
    bottom: 84px;
    left: -199px;
  }

  .table-text {
    max-width: 610px;

    padding-right: 0;
    padding-left: 0;
  }

  .table-list {
    justify-content: start;
    gap: 87px;

  }

  .svg-tab {
    gap: 32px;
    margin-bottom: 0;
    padding-left: 272px;
  }
}

@font-face {
  font-family: FilmP3;
  src: url(/images/FilmP3.ttf);
}